@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
  margin: 0;
}
* a {
  text-decoration: none;
}
* html,
* body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: fit-content;
  position: relative;
}
* header,
* section:not(section.cst) {
  overflow: hidden;
  width: 100%;
}
* html {
  position: fixed;
}
* img {
  border-radius: 2px;
  object-fit: cover;
}

/********************\
NAVIGATION
\********************/
nav.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
  z-index: 100;
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
}
nav.navigation input,
nav.navigation div.menu {
  display: none;
}
nav.navigation div {
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  width: 70%;
}
nav.navigation div a[aria-current=page] {
  text-decoration: underline;
}
nav.navigation div a {
  height: 100%;
  display: flex;
  align-items: center;
}
nav.navigation div ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
nav.navigation div > ul > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
nav.navigation div li:hover,
nav.navigation div li:hover > a {
  color: #1CACE1;
  text-decoration: underline;
}
nav.navigation div img.icon {
  display: none;
}
nav.navigation div > ul > li > ul {
  display: none;
  position: absolute;
  bottom: 30px;
  width: 150px;
  left: 0;
  transform: translate(0, 100%);
  background-color: white;
  border: 2px solid #1CACE1;
}
nav.navigation div > ul > li > ul li a {
  max-width: 120px;
  padding: 5px 0;
  margin: 0 auto;
}
nav.navigation div > ul > li > ul li:nth-child(2) a {
  margin-top: 10px;
}
nav.navigation div > ul > li:hover > ul {
  display: block;
}

@media screen and (max-width: 1125px) {
  nav.navigation {
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 95%;
    padding: 0 10px;
    margin: 0 auto;
  }
  nav.navigation > div > ul {
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
  }
  nav.navigation > div > ul li a {
    padding: 10px 0;
    width: 100%;
    justify-content: center;
  }
  nav.navigation .menu-menu-principale-container {
    display: none;
    position: fixed;
    top: 80px;
    right: 2.5%;
    width: 220px;
    height: 330px;
    gap: 0;
    background: white;
    border: solid 2px #4A423F;
    border-radius: 5px;
    z-index: 100px;
  }
  nav.navigation > div > ul > li > ul {
    bottom: 35px;
    left: -140px;
  }
  nav.navigation .menu-btn {
    position: relative;
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
  }
  nav.navigation .menu-btn div.menu {
    border: solid 2px #4A423F;
    border-radius: 20px;
    padding: 4px 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #1CACE1;
  }
  nav.navigation img.icon {
    width: 10px;
    height: 10px;
    display: inline-block;
  }
  nav.navigation #menuToggle:checked ~ .menu-menu-principale-container,
  nav.navigation img.icon {
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }
  nav.navigation #menuToggle:checked ~ .icon {
    display: contents;
  }
  @keyframes menu-slide-left {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
@media screen and (max-width: 500px) {
  nav.navigation {
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  nav.navigation a.first-link {
    right: 0;
    font-size: 16px;
  }
  nav.navigation a.first-link img {
    width: 250px;
    height: fit-content;
  }
}
button:hover {
  scale: 110%;
  margin-left: 10px;
  transition: 0.3s;
  z-index: 2;
}

button {
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  border-radius: 90px;
  transition: 0.3s;
}
button i {
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}

h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  z-index: 2;
  position: relative;
}

main section h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  width: 85%;
  color: #1CACE1;
}
main section h3 {
  font-family: "Handlee";
  font-size: 40px;
  line-height: 112%;
  width: 85%;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding: 0px;
  width: 80%;
  justify-content: center;
  gap: 5%;
}
header > div h2 {
  width: 606px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
  z-index: 2;
  position: relative;
}
header > div h2 strong {
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header div > img {
  width: 293px;
  height: 456px;
  object-fit: cover;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  width: 290px;
  height: 466px;
  margin-left: -70px;
  scale: 0.9;
}
header > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 3px;
  padding-bottom: 110px;
}
header p + img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 3px;
  padding-bottom: 150px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.8em);
  }
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

/********************\
HEADER
\********************/
header.accueil button {
  background: #1CACE1;
  margin-top: 56px;
  gap: 15px;
}
header.accueil button i {
  background-image: url("../img/calendar.svg");
}

/********************\
SECTION1
\********************/
main section.acc_section1 {
  padding-bottom: 70px;
}
main section.acc_section1 video {
  width: 664px;
  border-radius: 5px;
}
main section.acc_section1 video + div {
  padding: 0 3.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.acc_section1 video + div > div {
  position: relative;
}
main section.acc_section1 video + div div > i {
  background-image: url("../img/arrow.png");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -45px;
  width: 48.03px;
  height: 53.76px;
  transform: rotate(-7.86deg);
}
main section.acc_section1 video + div div > p {
  width: 488px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}
main section.acc_section1 video + div div > p strong {
  font-size: 28px;
}
main section.acc_section1 video + div div > p br {
  display: none;
}
main section.acc_section1 video + div div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
main section.acc_section1 video + div div i {
  margin-top: -28px;
}
main section.acc_section1 video + div div + p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
main section.acc_section1 video + div button {
  margin: 80px auto 0 auto;
  gap: 10px;
  background: #F77E4B;
}
main section.acc_section1 video + div button i {
  background-image: url("../img/informations.svg");
}
main section.acc_section1 h3 + div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  width: 85%;
  justify-content: center;
}
main section.acc_section1 div.caroussel {
  margin: 60px auto 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
  z-index: 50;
}
main section.acc_section1 div.caroussel .carousel-cell {
  display: none;
  padding: 30px 100px 70px 100px;
}
main section.acc_section1 div.caroussel .carousel-cell h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
main section.acc_section1 div.caroussel .carousel-cell div > p {
  width: 450px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
main section.acc_section1 div.caroussel .carousel-cell div > img {
  max-width: 350px;
  max-height: 220px;
  display: inline-block;
  border-radius: 2px;
}
main section.acc_section1 div.caroussel .carousel-cell div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  gap: 56px;
  margin-top: 15px;
}
main section.acc_section1 div.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  position: relative;
  gap: 15px;
  z-index: 50;
}
main section.acc_section1 div.button span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #1CACE1;
  cursor: pointer;
}
main section.acc_section1 div.button .rempli {
  background: #1CACE1;
  color: #1CACE1;
}
main section.acc_section1 div.button button {
  align-items: flex-start;
  padding: 10px 17px;
  margin: 0 10px;
  gap: 50px;
  font-size: 18px;
  background: #1CACE1;
  border-radius: 200px;
}
main section.acc_section1 > div:last-child {
  width: 179px;
  height: 179px;
  position: absolute;
  right: 20vw;
  top: 750px;
  background: #F77E4B;
  border-radius: 50%;
}

/********************\
SECTION2
\********************/
section.acc_section2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.acc_section2 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
}
section.acc_section2 div article {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #1CACE1;
  border-radius: 5px;
}
section.acc_section2 div article h4 {
  width: 231px;
  height: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 30px 0 0 0;
  margin: 0;
  text-align: center;
}
section.acc_section2 div article img {
  border-radius: 50%;
  width: 155px;
  height: 155px;
  margin: 18px 0 0 0;
  padding: 0;
}
section.acc_section2 div article p {
  width: 261px;
  padding: 25px 25px 10px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-align: center;
}
section.acc_section2 div article button {
  margin: 10px auto 35px auto;
  gap: 10px;
  background: #1CACE1;
}
section.acc_section2 div article button i {
  background-image: url("../img/informationsi.svg");
}

/********************\
SECTION3
\********************/
section.acc_section3 {
  margin-top: 100px;
  padding-bottom: 15px;
}
section.acc_section3 > h2,
section.acc_section3 > h3 {
  text-align: center;
  margin: 0;
}
section.acc_section3 > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 50px;
}
section.acc_section3 > div article img {
  width: 485px;
  height: 140px;
}
section.acc_section3 > div article div > h4 {
  width: 317px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 25px auto 0 auto;
}
section.acc_section3 > div article div > p {
  width: 390px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  margin: 15px auto 0 auto;
}
section.acc_section3 > div article div > ul {
  padding: 15px;
  width: 390px;
  margin: 0 auto;
  margin-top: -10px;
}
section.acc_section3 > div article div > ul > li {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
section.acc_section3 > div article div > ul > li strong {
  font-weight: 500;
}
section.acc_section3 > div article span {
  position: absolute;
  right: 0px;
  top: 87%;
  width: 500px;
  height: 50px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.acc_section3 button {
  margin: 90px auto 0 auto;
  gap: 10px;
  background-color: #F77E4B;
}
section.acc_section3 button i {
  background-image: url("../img/informations.svg");
}

/********************\
SECTION4
\********************/
section.acc_section5 {
  margin: 90px 0;
}

/********************\
HEADER
\********************/
header.about div.abt_header {
  flex-wrap: wrap;
}
header.about div.abt_header p {
  width: 574px;
  margin-top: 45px;
  font-weight: 500;
  font-size: 24px;
  line-height: 157.9%;
  letter-spacing: 0.03em;
}
header.about div.abt_header p strong {
  font-weight: 700;
}

/********************\
ASIDE
\********************/
main aside.abt_aside {
  height: 148px;
  background: rgba(28, 172, 225, 0.25);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
main aside.abt_aside p {
  width: 700px;
  font-weight: 500;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.04em;
}
main aside.abt_aside p strong {
  font-size: 24px;
}
main aside.abt_aside div {
  position: absolute;
  width: 79px;
  height: 79px;
  right: -36px;
  top: 930px;
  border-radius: 50%;
  background: #F77E4B;
}

/********************\
SECTION1
\********************/
section.abt_section1 {
  margin-top: 80px;
  flex-direction: row;
}
section.abt_section1 > div.abt_card {
  width: 90%;
  padding: 55px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 170px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}
section.abt_section1 > div.abt_card img {
  max-width: 600px;
  max-height: 400px;
}
section.abt_section1 > div.abt_card > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
section.abt_section1 > div.abt_card > div h3 {
  font-family: "Handlee";
  font-size: 40px;
  line-height: 25px;
  width: 425px;
  margin: 0;
}
section.abt_section1 > div.abt_card > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
section.abt_section1 > div.abt_card > div > div p {
  width: 425px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
section.abt_section1 > div.abt_card > div > div p strong {
  font-weight: 600;
}
section.abt_section1 span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  margin-top: 750px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION2
\********************/
section.abt_section2 {
  margin: 140px 0 150px 0;
}
section.abt_section2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}
section.abt_section2 div span {
  width: 15px;
  height: 210px;
  display: inline-block;
  background: #F77E4B;
  border-radius: 100px;
}
section.abt_section2 div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 820px;
  letter-spacing: 0.02em;
}
section.abt_section2 div p strong {
  font-size: 32px;
  line-height: 130%;
  font-family: "Handlee";
  color: #1CACE1;
}
section.abt_section2 div p b {
  font-weight: 600;
}

/********************\
HEADER
\********************/
div.cercle1 {
  position: absolute;
  right: -50px;
  top: -70px;
  border: 1px solid #F77E4B;
  border-radius: 50%;
  width: 246px;
  height: 246px;
  z-index: -10;
}

div.cercle2 {
  position: absolute;
  left: -5.3vw;
  top: 65vh;
  background: #1CACE1;
  border-radius: 50%;
  width: 191px;
  height: 191px;
}

div.cercle3 {
  position: absolute;
  left: 4vw;
  top: 82vh;
  border: 1px solid #F77E4B;
  border-radius: 50%;
  width: 77px;
  height: 77px;
}

/********************\
SECTION1
\********************/
main section.cct_section1 {
  background: rgba(28, 172, 225, 0.25);
  flex-wrap: wrap-reverse;
  flex-direction: row;
  gap: 9%;
  margin-top: 50px;
  padding: 70px 0;
}
main section.cct_section1 > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.cct_section1 > div:nth-of-type(1) img {
  max-width: 320px;
  max-height: 320px;
}
main section.cct_section1 > div:nth-of-type(1) > h3 {
  font-family: "Handlee";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.095em;
  margin: 25px 0 0 0;
  width: 302px;
}
main section.cct_section1 > div:nth-of-type(1) > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin-top: 20px;
  gap: 15px;
  width: 302px;
}
main section.cct_section1 > div:nth-of-type(1) > ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
main section.cct_section1 > div:nth-of-type(1) > ul li a {
  font-weight: 400;
}
main section.cct_section1 > div:nth-of-type(1) > ul li i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
main section.cct_section1 > div:nth-of-type(1) > ul li:nth-child(1) i {
  background-image: url("../img/phone-black.svg");
}
main section.cct_section1 > div:nth-of-type(1) > ul li:nth-child(2) i {
  background-image: url("../img/localisation-black.svg");
}
main section.cct_section1 > div:nth-of-type(1) > ul li:nth-child(3) i {
  background-image: url("../img/mail-black.svg");
}
main section.cct_section1 > div:nth-of-type(2) {
  width: 645px;
}
main section.cct_section1 > div:nth-of-type(2) legend {
  font-family: "Handlee";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.095em;
  text-align: center;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 645px;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 20px;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field input {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #000000;
  transition: 0.3s;
  width: 300px;
  padding: 5px;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field ::placeholder {
  color: rgba(0, 0, 0, 0.2901960784);
  font-size: 16px;
  text-transform: none !important;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field input:focus {
  background-color: white;
  transition: 0.3s;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field div.wpforms-field-description {
  color: rgba(0, 0, 0, 0.2901960784);
  font-size: 12px;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field textarea {
  resize: vertical;
  max-width: 603px;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field:nth-child(n+3) {
  width: 640px;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field:nth-child(n+3) label {
  width: 100%;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field:nth-child(n+3) input {
  width: 600px;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field[data-field-id="4"] {
  padding: 20px 0 10px 0;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-field-container div.wpforms-field[data-field-id="5"] input {
  text-transform: uppercase;
}
main section.cct_section1 > div:nth-of-type(2) > div.wpforms-container-full form div.wpforms-submit-container button {
  background: #F77E4B;
  border-radius: 90px;
  color: white;
  margin: 10px 0 25px 0;
}

/********************\
SECTION2
\********************/
main section.cct_section2 {
  margin-top: 50px;
}
main section.cct_section2 > h3 {
  font-family: "Handlee";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.095em;
  margin: 5px 0 0 11%;
  width: 302px;
}
main section.cct_section2 > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
}
main section.cct_section2 > div iframe {
  border-radius: 20px;
  width: 630px;
  height: 241px;
}
main section.cct_section2 > div ::marker {
  color: #F77E4B;
}
main section.cct_section2 > div ul {
  padding: 0;
  width: 500px;
}

/********************\
FOOTER
\********************/
footer.cct-footer {
  margin-top: 50px;
  padding: 25px 0;
}
footer.cct-footer p {
  color: white;
}
footer.cct-footer p a {
  color: white;
  text-decoration: underline;
}

/********************\
SECTION1
\********************/
main section.cst > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 80%;
  margin: 40px auto 0 auto;
}
main section.cst > div > article {
  border: 2px solid #1CACE1;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 35px;
}
main section.cst > div > article > h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 112%;
  text-align: center;
  margin: 0;
  width: 200px;
}
main section.cst > div > article img {
  width: 182px;
  height: 182px;
  border-radius: 50%;
}
main section.cst > div > article div > p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 112%;
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
main section.cst > div > article div > div {
  display: flex;
  flex-direction: row;
}
main section.cst > div > article div > div > button {
  font-size: 14px;
  line-height: 112%;
  padding: 10px 15px;
  border-radius: 0;
}
main section.cst > div > article div > div button:nth-of-type(1) {
  background-color: #4A423F;
}
main section.cst > div > article div > div button:nth-of-type(2) {
  background-color: #F77E4B;
}
main section.cst > div > article div > div button:nth-of-type(3) {
  background-color: #1CACE1;
}
main section.cst > div > article div > div button:hover {
  margin-left: 0;
}

main section.cst_section1 {
  margin-top: 50px;
}
main section.cst_section1 h2 {
  color: black;
}
main section.cst_section1 div.explications > div.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 500;
  opacity: 0.8;
}
main section.cst_section1 div.explications > div.white_content {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 85%;
  background-color: white;
  z-index: 550;
  border-radius: 25px;
}
main section.cst_section1 div.explications > div.white_content a {
  font-size: 16px;
  position: absolute;
  top: -15px;
  padding: 8px 18px;
  color: white;
  border-radius: 20px;
  right: -15px;
  vertical-align: middle;
  background-color: #1CACE1;
  transition: 0.3s;
}
main section.cst_section1 div.explications > div.white_content a i {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.cst_section1 div.explications > div.white_content a:hover {
  scale: 1.1;
  transition: 0.3s;
}
main section.cst_section1 div.explications > div.white_content h3 {
  font-family: "Handlee";
  font-size: 40px;
  line-height: 112%;
  margin: 20px 0 0 0;
  text-align: center;
}
main section.cst_section1 div.explications > div.white_content h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 112%;
  padding: 5px 0;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 10px 0;
}
main section.cst_section1 div.explications > div.white_content div.cst_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 2%;
}
main section.cst_section1 div.explications > div.white_content div.cst_content > div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 506px;
  max-height: 300px;
}
main section.cst_section1 div.explications > div.white_content div.cst_content > div button {
  margin-top: 20px;
  gap: 15px;
  background: #1CACE1;
}
main section.cst_section1 div.explications > div.white_content div.cst_content > div button i {
  background-image: url("../img/calendar.svg");
}
main section.cst_section1 div.explications > div.white_content div.cst_content img {
  border-radius: 15px;
  max-width: 546px;
  max-height: 420px;
}
main section.cst_section1 div.explications div:nth-of-type(1) > h4 {
  background-color: #4A423F;
}
main section.cst_section1 div.explications div:nth-of-type(2) > h4 {
  background-color: #F77E4B;
}
main section.cst_section1 div.explications div:nth-of-type(3) > h4 {
  background-color: #1CACE1;
}

aside.cst_aside {
  padding: 50px 0 150px 0;
}
aside.cst_aside span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION1
\********************/
section.cab_section1 {
  margin-top: 50px;
}
section.cab_section1 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 50px;
}
section.cab_section1 > div img {
  max-width: 700px;
  max-height: 500px;
}
section.cab_section1 > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.cab_section1 > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.cab_section1 > div > div p strong {
  font-weight: 600;
}
section.cab_section1 span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 542px;
  margin: 0;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION2
\********************/
section.cab_section2 {
  margin-top: 150px;
}
section.cab_section2 h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 70px;
}
section.cab_section2 h4 i {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #F77E4B;
}
section.cab_section2 > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
section.cab_section2 > div:nth-child(1) img {
  max-width: 600px;
  max-height: 450px;
}
section.cab_section2 > div:nth-child(1) > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
}
section.cab_section2 > div:nth-child(1) > div > div p {
  width: 480px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.cab_section2 > div:nth-child(1) > div > div p strong {
  font-weight: 600;
}
section.cab_section2 > div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  flex-wrap: wrap;
  gap: 200px;
}
section.cab_section2 > div:nth-child(2) img {
  max-width: 500px;
  max-height: 450px;
}
section.cab_section2 > div:nth-child(2) > div h4 {
  margin: 0;
}
section.cab_section2 > div:nth-child(2) > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
}
section.cab_section2 > div:nth-child(2) > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.cab_section2 > div:nth-child(2) > div > div p strong {
  font-weight: 600;
}
section.cab_section2 > div:nth-child(2) > div > div p a {
  text-decoration: underline;
}
section.cab_section2 > div:nth-child(3) {
  position: absolute;
  width: 191px;
  height: 191px;
  right: 197px;
  top: 330px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}
section.cab_section2 > div:nth-child(4) {
  position: absolute;
  width: 191px;
  height: 191px;
  right: 50px;
  top: 380px;
  border-radius: 50%;
  border: 1px solid #1CACE1;
}

/********************\
SECTION3
\********************/
section.cab_section3 {
  margin-top: 200px;
}
section.cab_section3 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  padding: 50px 0 100px 0;
}
section.cab_section3 > div > div:nth-child(1) {
  padding: 43px 127px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
}
section.cab_section3 > div > div:nth-child(1) img {
  max-width: 300px;
  max-height: 300px;
}
section.cab_section3 > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section.cab_section3 > div > div:nth-child(2) p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 540px;
}
section.cab_section3 > div > div:nth-child(2) p strong {
  font-weight: 600;
}
section.cab_section3 > div:nth-child(3) {
  position: absolute;
  width: 78px;
  height: 78px;
  right: 99px;
  top: 113px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #1CACE1;
  z-index: -1;
}
section.cab_section3 > div:nth-child(4) {
  position: absolute;
  width: 115px;
  height: 115px;
  right: 129px;
  padding: 0;
  top: 38px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}

/********************\
SECTION1
\********************/
main section.atl_section1 {
  margin-top: 50px;
}
main section.atl_section1 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 50px 0;
}
main section.atl_section1 > div img {
  border-radius: 2px;
  max-width: 700px;
  max-height: 500px;
}
main section.atl_section1 > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
main section.atl_section1 > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
main section.atl_section1 > div > div p strong {
  font-weight: 600;
}
main section.atl_section1 button {
  margin-top: 30px;
  gap: 10px;
  background: #F77E4B;
}
main section.atl_section1 button i {
  background-image: url("../img/calendar.svg");
}
main section.atl_section1 > div.cercle {
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 191px;
  height: 191px;
  left: 160px;
  top: 450px;
  z-index: -1;
  border-radius: 50%;
  background: #F77E4B;
}

/********************\
SECTION2
\********************/
section.atl_section2 {
  margin: 150px 0;
  position: relative;
}
section.atl_section2 h2, section.atl_section2 h3 {
  text-align: end;
}
section.atl_section2 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 50px 0;
}
section.atl_section2 > div img {
  border-radius: 2px;
  max-width: 700px;
  max-height: 500px;
}
section.atl_section2 > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
section.atl_section2 > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.atl_section2 > div > div p strong {
  font-weight: 600;
}
section.atl_section2 > div > div p a {
  text-decoration: underline;
}
section.atl_section2 span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 690px;
  margin: 0;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION 
\********************/
section.mtd_section {
  margin-top: 50px;
}
section.mtd_section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
  width: 90%;
}
section.mtd_section > div img {
  max-width: 500px;
  max-height: 650px;
}
section.mtd_section > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
section.mtd_section > div > div h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}
section.mtd_section > div > div div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.mtd_section > div > div div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 670px;
}
section.mtd_section > div > div div p strong {
  font-weight: 600;
}
section.mtd_section > div > div div p a {
  text-decoration: underline;
}

/********************\
SECTION 2
\********************/
section.mtd_section2 {
  margin-top: 100px;
}
section.mtd_section2 > div {
  flex-direction: row-reverse;
}
section.mtd_section2 > div.cercle1 {
  position: absolute;
  width: 191px;
  height: 191px;
  right: -50px;
  top: 200px;
  border-radius: 50%;
  border: 1px solid #F77E4B;
}
section.mtd_section2 > div.cercle2 {
  position: absolute;
  width: 191px;
  height: 191px;
  right: -80px;
  left: auto;
  top: 300px;
  margin: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #1CACE1;
}

/********************\
SECTION 3
\********************/
section.mtd_section3 {
  margin: 100px 0 200px 0;
}
section.mtd_section3 span {
  position: absolute;
  right: 0px;
  top: 650px;
  width: 500px;
  height: 50px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION1
\********************/
section.rfx_section1 {
  margin-top: 50px;
}
section.rfx_section1 > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  background: rgba(28, 172, 225, 0.25);
}
section.rfx_section1 > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 35px 0;
}
section.rfx_section1 > div:nth-child(2) > div p {
  font-size: 16px;
  line-height: 30px;
  width: 69%;
  text-align: center;
  letter-spacing: 0.02em;
}
section.rfx_section1 > div:nth-child(3) {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
section.rfx_section1 > div:nth-child(3) > div {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: 50px;
  gap: 90px;
  background-color: white;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
  padding: 29px 100px 29px 55px;
}
section.rfx_section1 img {
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
}
section.rfx_section1 ol {
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 30px;
}
section.rfx_section1 > div:nth-child(4) {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 350px;
  top: 435px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}
section.rfx_section1 span {
  position: absolute;
  right: 0px;
  top: 740px;
  width: 500px;
  height: 50px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
}

/********************\
SECTION2-3
\********************/
section.rfx_section {
  margin-top: 40px;
}
section.rfx_section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(15px, 100%, 6%);
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 85%;
}
section.rfx_section > div img {
  max-width: 650px;
  max-height: 250px;
}
section.rfx_section > div div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.rfx_section > div div p {
  font-size: 16px;
  line-height: 30px;
  width: 440px;
}
section.rfx_section > div div p strong {
  font-weight: 600;
}
section.rfx_section > div div p a {
  text-decoration: underline;
}

/********************\
SECTION2
\********************/
section.rfx_section2 {
  padding-bottom: 114px;
}
section.rfx_section2 > div:nth-child(3) {
  position: absolute;
  width: 166px;
  height: 166px;
  left: 107px;
  top: 285px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}
section.rfx_section2 > div:nth-child(4) {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 104px;
  top: 399px;
  border-radius: 50%;
  border: 1px solid #1CACE1;
}

/********************\
SECTION3
\********************/
section.rfx_section3 {
  padding-bottom: 144px;
}
section.rfx_section3 > div {
  flex-wrap: wrap-reverse;
}
section.rfx_section3 > div:nth-child(3) {
  position: absolute;
  width: 134px;
  height: 138px;
  right: -79px;
  top: 259px;
  border-radius: 50%;
  background: #F77E4B;
}
section.rfx_section3 > div:nth-child(4) {
  position: absolute;
  width: 191px;
  height: 191px;
  right: 207px;
  top: 330px;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid #1CACE1;
}

/********************\
SECTION4
\********************/
section.rfx_section4 {
  margin-top: 20px;
}
section.rfx_section4 h3 {
  text-align: center;
}
section.rfx_section4 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}
section.rfx_section4 > div p {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 830px;
}
section.rfx_section4 > div p strong {
  font-weight: 600;
}
section.rfx_section4 > div p a {
  text-decoration: underline;
}

/********************\
ASIDE
\********************/
aside.rfx_aside {
  margin: 100px auto 150px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  gap: 13px;
  width: 85%;
}
aside.rfx_aside p {
  font-size: 17px;
  line-height: 21px;
}
aside.rfx_aside button {
  gap: 15px;
  background: #F77E4B;
}
aside.rfx_aside button i {
  background-image: url("../img/download.svg");
}

/********************\
LEGALITE
\********************/
main.legalite section h1 {
  font-weight: 400;
  font-size: 100px;
  line-height: 75px;
  margin-left: 131px;
  margin-top: 50px;
}
main.legalite section h2 {
  font-size: 32px;
  margin-left: 131px;
  margin-top: 100px;
}
main.legalite section h3 {
  margin-top: 40px;
  font-size: 36px;
  margin-left: 131px;
}
main.legalite section h4 {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 131px;
}
main.legalite section h5 {
  margin-top: 10px;
  font-size: 16px;
  margin-left: 131px;
}
main.legalite section p {
  margin-top: 10px;
  width: 80%;
  margin-left: 131px;
}
main.legalite section ul {
  margin-left: 131px;
}
main.legalite section aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

/********************\
404 MAIN
\********************/
main section.erreur404 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  padding: 70px 0;
}
main section.erreur404 div:nth-of-type(1) {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 564px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
}
main section.erreur404 div:nth-of-type(1) p {
  font-weight: 500;
  font-size: 250px;
  line-height: 305px;
  padding: 20px;
}
main section.erreur404 div:nth-of-type(1) p strong {
  font-family: "Handlee";
  line-height: 334px;
}
main section.erreur404 div:nth-of-type(2) > p {
  font-weight: 400;
  font-size: 80px;
  line-height: 98px;
  width: 370px;
}
main section.erreur404 div:nth-of-type(2) > p strong {
  font-family: "Handlee";
  font-size: 80px;
  line-height: 107px;
}
main section.erreur404 div:nth-of-type(2) button {
  gap: 20px;
  font-size: 18px;
  background: #1CACE1;
  border-radius: 200px;
  margin-top: 40px;
}
main section.erreur404 div:nth-of-type(2) button i {
  background-image: url("../img/informations.svg");
}
main section.erreur404 div.cercle1 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 750px;
  top: 260px;
  border-radius: 50%;
  background: #F77E4B;
}
main section.erreur404 div.cercle2 {
  top: 500px;
}
main section.erreur404 div.cercle3 {
  top: 630px;
}

/********************\
FOOTER
\********************/
footer {
  width: 100%;
  background-image: url("../img/cabinet_zen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer > div {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
footer > div > img {
  border-radius: 50%;
  width: 325px;
  height: 325px;
}
footer > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
}
footer > div > div > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: #1CACE1;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  transition: 0.3s;
}
footer > div > div > button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
footer > div > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  gap: 25px;
  width: 351px;
}
footer > div > div > ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
footer > div > div > ul li i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
footer > div > div > ul li a {
  color: white;
}
footer > div > div > ul li:nth-child(1) i {
  background-image: url("../img/phone.svg");
}
footer > div > div > ul li:nth-child(2) i {
  background-image: url("../img/location.svg");
}
footer > div > div > ul li:nth-child(3) i {
  background-image: url("../img/mail.svg");
}
footer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
}
footer > div:nth-child(2) p {
  color: white;
  font-size: 12px;
}
footer > div:nth-child(2) a {
  color: white;
  text-decoration: underline;
}

/*----------------------------*\
HEADER
\-----------------------------*/
@media screen and (max-width: 1495px) {
  header > p {
    margin-top: 20px;
  }
  header div > img {
    width: 275px;
    height: 450px;
  }
  header div > img:nth-of-type(2) {
    width: 270px;
    height: 460px;
  }
}
@media screen and (max-width: 1445px) {
  header > div {
    margin-top: 10vh;
  }
  header div > img {
    width: 202px;
    height: 310px;
    margin-top: 0;
  }
  header div > img:nth-of-type(2) {
    width: 190px;
    height: 320px;
  }
  header > p {
    margin-top: 60px;
  }
  div.cercle2 {
    left: -10vw;
    top: 30vh;
  }
  div.cercle3 {
    left: 1vw;
    top: 40vh;
  }
}
@media screen and (max-width: 1227px) {
  header div > img {
    width: 177px;
    height: 281px;
  }
  header div > img:nth-of-type(2) {
    width: 167px;
    height: 289px;
  }
}
@media screen and (max-width: 1170px) {
  header h1 {
    margin-top: 25px;
    text-align: center;
  }
  header h2 {
    text-align: center;
  }
  header div + p {
    display: none;
  }
  header div > img {
    width: 177px;
    height: 281px;
  }
  header div > img:nth-of-type(2) {
    width: 167px;
    height: 289px;
  }
  header.accueil button {
    margin: 20px auto 70px auto;
  }
}
@media screen and (max-width: 810px) {
  header > div {
    margin-top: 5vh;
  }
  div.cercle2 {
    left: -15vw;
    top: 55vh;
  }
  div.cercle3 {
    left: 2vw;
    top: 75vh;
  }
}
@media screen and (max-width: 800px) {
  div.cercle2 {
    left: -15vw;
    top: 45vh;
  }
  div.cercle3 {
    left: 2vw;
    top: 55vh;
  }
}
@media screen and (max-width: 750px) {
  div.cercle2 {
    left: -20vw;
    top: 60vh;
  }
  div.cercle3 {
    left: 1vw;
    top: 70vh;
  }
}
@media screen and (max-width: 700px) {
  header h1 {
    width: 83vw;
    font-size: 14px;
  }
  header > div h2 {
    width: 83vw;
    font-size: 28px;
    line-height: 44px;
  }
  header > div h2 strong {
    font-size: 36px;
    line-height: 44px;
  }
  header div + p {
    display: none;
  }
  header.accueil button {
    margin-bottom: 30px;
  }
  div.cercle2 {
    left: -15vw;
    top: 47vh;
  }
  div.cercle3 {
    left: 6vw;
    top: 60vh;
  }
}
@media screen and (max-width: 590px) {
  main section h3 {
    font-size: 30px;
  }
  header > div h2 {
    width: 90vw;
  }
}
@media screen and (max-width: 490px) {
  main section h3 {
    font-size: 30px;
  }
  header > div h2 {
    width: 90vw;
  }
  div.cercle2 {
    left: -30vw;
    top: 50vh;
  }
  div.cercle3 {
    left: 1vw;
    top: 60vh;
  }
}
@media screen and (max-width: 420px) {
  div.cercle2 {
    left: -35vw;
    top: 50vh;
  }
  div.cercle3 {
    left: 1vw;
    top: 62vh;
  }
}
/*----------------------------*\
SECTION 1
\-----------------------------*/
@media screen and (max-width: 1519px) {
  main section.acc_section1 video {
    width: clamp(300px, 83vw, 800px);
  }
  main section.acc_section1 video + div {
    margin-top: 75px;
  }
  main section.acc_section1 video + div button {
    margin: 30px auto 0 auto;
  }
  main section.acc_section1 div.caroussel {
    margin: 100px auto 0 auto;
  }
  main section.acc_section1 > div:last-child {
    top: 930px;
  }
}
@media screen and (max-width: 881px) {
  main section.acc_section1 div.caroussel {
    border-radius: 100px;
  }
  main section.acc_section1 div.caroussel .carousel-cell {
    padding: 30px 50px 90px 50px;
  }
  main section.acc_section1 div.caroussel .carousel-cell div {
    flex-direction: column;
    gap: 15px;
  }
  main section.acc_section1 > div:last-child {
    top: 885px;
  }
}
@media screen and (max-width: 590px) {
  main section.acc_section1 {
    padding-bottom: 75px;
  }
  main section.acc_section1 video + div {
    margin-top: 60px;
  }
  main section.acc_section1 video + div div > i {
    left: 10px;
  }
  main section.acc_section1 video + div div > p {
    width: clamp(275px, 100%, 488px);
    font-size: 14px;
    line-height: 24px;
  }
  main section.acc_section1 video + div div > p strong {
    display: inline-block;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  main section.acc_section1 video + div div > p strong abbr {
    font-weight: 600;
  }
  main section.acc_section1 video + div div > p br {
    display: block;
  }
  main section.acc_section1 video + div button {
    margin: 50px auto 0 auto;
  }
  main section.acc_section1 div.caroussel {
    border-radius: 60px;
    margin-top: 90px;
  }
  main section.acc_section1 div.caroussel .carousel-cell {
    padding: 30px 20px 90px 20px;
  }
  main section.acc_section1 div.caroussel .carousel-cell h4 {
    width: 230px;
    line-height: 24px;
    font-size: 17px;
  }
  main section.acc_section1 div.caroussel .carousel-cell div {
    flex-direction: column;
    gap: 15px;
  }
  main section.acc_section1 div.caroussel .carousel-cell div p {
    height: auto;
    width: 255px;
    font-size: 14px;
    line-height: 24px;
  }
  main section.acc_section1 > div:last-child {
    top: 877px;
    left: 7px;
  }
  button {
    font-size: 14px;
  }
}
@media screen and (max-width: 495px) {
  main section.acc_section1 video + div div > i {
    left: -15px;
  }
}
@media screen and (max-width: 440px) {
  main section.acc_section1 video + div div > i {
    left: -30px;
  }
}
@media screen and (max-width: 400px) {
  main section.acc_section1 video + div div > i {
    left: -40px;
  }
}
@media screen and (max-width: 371px) {
  main section.acc_section1 video + div div > i {
    left: 0px;
  }
}
/*----------------------------*\
SECTION 2
\-----------------------------*/
@media screen and (max-width: 590px) {
  section.acc_section2 div article p {
    font-weight: 500;
    font-size: 14px;
  }
}
/*----------------------------*\
SECTION 3
\-----------------------------*/
@media screen and (max-width: 1471.5px) {
  section.acc_section3 > div article:last-child {
    margin-top: 100px;
  }
  section.acc_section3 > div article:last-child span {
    top: 92%;
    right: -150px;
  }
}
@media screen and (max-width: 986px) {
  section.acc_section3 > div article:not(article:first-child) {
    margin-top: 100px;
  }
}
@media screen and (max-width: 590px) {
  section.acc_section3 > div article {
    width: 100%;
  }
  section.acc_section3 > div article img {
    width: 100%;
  }
  section.acc_section3 > div article div > h4 {
    text-align: center;
    font-size: 17px;
  }
  section.acc_section3 > div article div > p {
    font-size: 14px;
    width: 295px;
  }
  section.acc_section3 > div article div > ul {
    width: 295px;
  }
  section.acc_section3 > div article div > ul > li {
    font-size: 14px;
    line-height: 23px;
  }
  section.acc_section3 button {
    width: 80%;
  }
}
/*----------------------------*\
HEADER
\-----------------------------*/
header:not(header.accueil) > img {
  margin-top: 50px;
}
header:not(header.accueil) div.cercle2 {
  left: -5.3vw;
  top: 41vh;
}
header:not(header.accueil) div.cercle3 {
  left: 4vw;
  top: 56vh;
}

@media screen and (max-width: 1160px) {
  header:not(header.accueil) div.cercle2 {
    left: -5.3vw;
    top: 41vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 4vw;
    top: 56vh;
  }
}
@media screen and (max-width: 1500px) {
  header:not(header.accueil) div.cercle2 {
    left: -8vw;
    top: 27vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 2vw;
    top: 40vh;
  }
}
@media screen and (max-width: 1160px) {
  header:not(header.accueil) div.cercle2 {
    left: -4vw;
    top: 42vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 9vw;
    top: 55vh;
  }
}
@media screen and (max-width: 1090px) {
  header:not(header.accueil) div.cercle2 {
    left: -8vw;
    top: 42vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 7vw;
    top: 55vh;
  }
}
@media screen and (max-width: 950px) {
  header:not(header.accueil) div.cercle2 {
    left: -13vw;
    top: 41vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 4vw;
    top: 54vh;
  }
}
@media screen and (max-width: 810px) {
  header:not(header.accueil) div.cercle2 {
    left: -18vw;
    top: 42vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 2vw;
    top: 55vh;
  }
}
@media screen and (max-width: 750px) {
  header:not(header.accueil) div.cercle2 {
    left: -22vw;
    top: 36vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 2vw;
    top: 47vh;
  }
}
@media screen and (max-width: 650px) {
  header:not(header.accueil) div.cercle2 {
    left: -19vw;
    top: 42vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 6vw;
    top: 54vh;
  }
}
@media screen and (max-width: 590px) {
  header:not(header.accueil) div.cercle2 {
    left: -23vw;
    top: 43vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 6vw;
    top: 54vh;
  }
}
@media screen and (max-width: 540px) {
  header:not(header.accueil) div.cercle2 {
    left: -24vw;
    top: 39vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 6vw;
    top: 51vh;
  }
}
@media screen and (max-width: 490px) {
  header:not(header.accueil) div.cercle2 {
    left: -33vw;
    top: 41vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 1vw;
    top: 51vh;
  }
}
@media screen and (max-width: 430px) {
  header:not(header.accueil) div.cercle2 {
    left: -37vw;
    top: 40vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 2vw;
    top: 52vh;
  }
}
@media screen and (max-width: 415px) {
  header:not(header.accueil) div.cercle2 {
    left: -37vw;
    top: 42vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 2vw;
    top: 55vh;
  }
}
@media screen and (max-width: 370px) {
  header:not(header.accueil) div.cercle2 {
    left: -44vw;
    top: 46vh;
  }
  header:not(header.accueil) div.cercle3 {
    left: 1vw;
    top: 56vh;
  }
}
/*----------------------------*\
SECTION1
\-----------------------------*/
@media screen and (max-width: 590px) {
  section.rfx_section1 > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    background: rgba(28, 172, 225, 0.25);
  }
  section.rfx_section1 > div:nth-child(2) > div {
    gap: 20px;
  }
  section.rfx_section1 > div:nth-child(2) > div p {
    font-size: 14px;
    line-height: 26px;
    width: 85%;
  }
  section.rfx_section1 > div:nth-child(3) {
    display: flex;
    flex-direction: row;
  }
  section.rfx_section1 > div:nth-child(3) > div {
    gap: 50px;
    border-radius: 80px;
    padding: 29px;
    width: 65%;
    margin: 50px auto 50px auto;
  }
  section.rfx_section1 img {
    max-width: 250px;
    max-height: 250px;
  }
  section.rfx_section1 ol {
    display: flex;
    flex-direction: column;
  }
  section.rfx_section1 ol li {
    font-size: 14px;
  }
  section.rfx_section1 > div:nth-child(4) {
    left: 350px;
    top: 435px;
  }
  section.rfx_section1 span {
    right: 0px;
    top: 740px;
  }
}
/*----------------------------*\
SECTION2-3
\-----------------------------*/
@media screen and (max-width: 1234px) {
  section.rfx_section {
    margin-top: 50px;
  }
  section.rfx_section > div {
    gap: 15px;
    margin-top: 20px;
    width: 85%;
  }
  section.rfx_section > div div p {
    width: 100%;
  }
  section.rfx_section > div img {
    width: 100%;
    max-width: none;
  }
  section.rfx_section3 {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  section.rfx_section3 > div:nth-child(3) {
    right: -79px;
    top: 259px;
  }
  section.rfx_section3 > div:nth-child(4) {
    right: -59px;
    top: 135px;
  }
  section.rfx_section2 {
    padding-bottom: 20px;
  }
  section.rfx_section2 > div:nth-child(3) {
    left: -108px;
    top: 95px;
  }
  section.rfx_section2 > div:nth-child(4) {
    left: 23px;
    top: 220px;
  }
}
@media screen and (max-width: 590px) {
  section.rfx_section > div div p {
    font-size: 14px;
    line-height: 26px;
  }
}
/*----------------------------*\
SECTION4
\-----------------------------*/
@media screen and (max-width: 1150px) {
  section.rfx_section4 {
    margin-top: 100px;
  }
  section.rfx_section4 > div {
    margin-top: 20px;
  }
  section.rfx_section4 > div p {
    text-align: justify;
    width: 85%;
  }
}
@media screen and (max-width: 590px) {
  section.rfx_section4 > div p {
    font-size: 14px;
    line-height: 26px;
  }
}
/*----------------------------*\
ASIDE
\-----------------------------*/
@media screen and (max-width: 1150px) {
  aside.rfx_aside p {
    text-align: center;
  }
}
@media screen and (max-width: 590px) {
  aside.rfx_aside p,
  aside.rfx_aside button {
    font-size: 14px;
  }
  aside.rfx_aside {
    margin-bottom: 80px;
  }
}
/*----------------------------*\
FOOTER
\-----------------------------*/
@media screen and (max-width: 1250px) {
  footer > div {
    gap: 100px;
  }
}
@media screen and (max-width: 980px) {
  footer > div > img {
    display: none;
  }
  footer > div > div {
    gap: 50px;
    align-items: center;
  }
  footer > div > div > ul {
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  footer > div > div img {
    width: 364px;
    height: fit-content;
  }
}

/*# sourceMappingURL=app.css.map */
