@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
  margin: 0;
}
* a {
  text-decoration: none;
}
* body {
  overflow-x: hidden;
  width: 100%;
}

/********************\
NAVIGATION
\********************/
nav.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
nav.navigation a {
  text-decoration: none;
  display: inline-block;
}
nav.navigation li:nth-child(1) {
  margin-right: auto;
}
nav.navigation ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 35px;
  width: 90%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
nav.navigation > ul > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
nav.navigation li:hover, nav.navigation li:hover > a {
  color: #1CACE1;
  text-decoration: underline;
}
nav.navigation > ul > li > ul {
  display: none;
  position: absolute;
  bottom: 30px;
  width: 150px;
  left: 0;
  transform: translate(0, 100%);
  background-color: white;
  border: 2px solid #1CACE1;
}
nav.navigation > ul > li > ul li a {
  max-width: 120px;
  padding: 5px 0;
}
nav.navigation > ul > li > ul li:nth-child(2) a {
  margin-top: 10px;
}
nav.navigation > ul > li:hover > ul {
  display: block;
}
nav.navigation > ul > li > i {
  animation: rotationFleche 0.2s linear forwards;
}
@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

button:hover {
  scale: 110%;
  margin-left: 10px;
  transition: 0.3s;
}

/********************\
HEADER
\********************/
h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

header.accueil {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.accueil div.acc_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 85px;
}
header.accueil div.acc_header h2 {
  width: 606px;
  height: 227px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.accueil div.acc_header h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.accueil div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.accueil div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.accueil button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  background: #1CACE1;
  border-radius: 90px;
  margin-top: 56px;
  transition: 0.3s;
}
header.accueil button i {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
header.accueil p + img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 3px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.8em);
  }
}

/********************\
SECTION1
\********************/
main section h2 {
  text-transform: uppercase;
  margin-left: 131px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #1CACE1;
}
main section h3 {
  font-family: "Handlee";
  font-size: 40px;
  line-height: 112%;
  margin: 5px 0 0 131px;
}

main section.acc_section1 video {
  width: 664px;
  height: 403px;
  padding-top: 50px;
  border-radius: 2px;
}
main section.acc_section1 video p {
  font-size: 16px;
  width: 664px;
}
main section.acc_section1 video + div {
  margin: 30px auto 0 auto;
}
main section.acc_section1 video + div div > i {
  background-image: url("../img/arrow.png");
  display: inline-block;
  background-size: contain;
  width: 48.03px;
  height: 53.76px;
  transform: rotate(-7.86deg);
}
main section.acc_section1 video + div div > p {
  width: 488px;
  height: 117px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}
main section.acc_section1 video + div div > p strong {
  font-size: 28px;
}
main section.acc_section1 video + div div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
main section.acc_section1 video + div div i {
  margin-top: -28px;
}
main section.acc_section1 video + div div + p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
main section.acc_section1 video + div button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 80px auto 0 auto;
  gap: 10px;
  background: #F77E4B;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
  line-height: 21px;
}
main section.acc_section1 video + div button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.acc_section1 h3 + div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 88px;
}
main section.acc_section1 div.caroussel {
  width: 860px;
  height: 400px;
  margin: 60px auto 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
  z-index: 50;
}
main section.acc_section1 div.caroussel .carousel-cell {
  display: none;
  counter-increment: carousel-cell;
}
main section.acc_section1 div.caroussel div {
  margin-top: 35px;
}
main section.acc_section1 div.caroussel div h4 {
  width: 403px;
  height: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto;
  text-transform: uppercase;
}
main section.acc_section1 div.caroussel div div > p {
  width: 450px;
  height: 160px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
main section.acc_section1 div.caroussel div div > img {
  width: 143px;
  height: 224px;
  display: inline-block;
  border-radius: 2px;
}
main section.acc_section1 div.caroussel div div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: row;
  padding: 0px;
  gap: 56px;
}
main section.acc_section1 div.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  position: relative;
  gap: 15px;
  z-index: 50;
}
main section.acc_section1 div.button span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #1CACE1;
  cursor: pointer;
}
main section.acc_section1 div.button .rempli {
  background: #1CACE1;
  color: #1CACE1;
}
main section.acc_section1 div.button button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 17px;
  margin: 0 10px;
  gap: 50px;
  font-size: 18px;
  background: #1CACE1;
  border-radius: 200px;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
}
main section.acc_section1 div.button button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.acc_section1 > div:last-child {
  width: 179px;
  height: 179px;
  position: absolute;
  right: 20vw;
  top: 240vh;
  background: #F77E4B;
  border-radius: 50%;
}

/********************\
SECTION2
\********************/
section.acc_section2 {
  margin-top: 110px;
}
section.acc_section2 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
section.acc_section2 div article {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #1CACE1;
  border-radius: 5px;
}
section.acc_section2 div article h4 {
  width: 231px;
  height: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 30px 0 0 0;
  margin: 0;
  text-align: center;
}
section.acc_section2 div article img {
  border-radius: 50%;
  width: 155px;
  height: 155px;
  margin: 18px 0 0 0;
  padding: 0;
}
section.acc_section2 div article p {
  width: 261px;
  padding: 25px 25px 10px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-align: center;
}
section.acc_section2 div article button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 10px auto 35px auto;
  gap: 10px;
  background: #1CACE1;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
section.acc_section2 div article button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}

/********************\
SECTION3
\********************/
section.acc_section3 {
  margin-top: 150px;
  overflow: hidden;
}
section.acc_section3 > h2,
section.acc_section3 > h3 {
  text-align: center;
  margin: 0;
}
section.acc_section3 > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 50px;
}
section.acc_section3 > div article img {
  width: 485px;
  height: 140px;
}
section.acc_section3 > div article div > h4 {
  width: 317px;
  height: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 25px auto 0 auto;
}
section.acc_section3 > div article div > p {
  width: 390px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  margin: 15px auto 0 auto;
}
section.acc_section3 > div article div > ul {
  padding: 15px;
  width: 390px;
  margin: 0 auto;
  margin-top: -10px;
}
section.acc_section3 > div article div > ul > li {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
section.acc_section3 > div article div > ul > li strong {
  font-weight: 600;
}
section.acc_section3 button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 90px auto 0 auto;
  gap: 10px;
  background-color: #F77E4B;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
section.acc_section3 button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
section.acc_section3 span {
  position: absolute;
  right: 0px;
  top: 470vh;
  width: 500px;
  height: 50px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION4
\********************/
section.acc_section5 {
  margin: 100px 0;
}

/********************\
HEADER
\********************/
header.about {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.about div.abt_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 150px;
}
header.about div.abt_header h2 {
  width: 606px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.about div.abt_header h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.about div.abt_header p {
  width: 574px;
  height: 114px;
  margin-top: 45px;
  font-weight: 500;
  font-size: 24px;
  line-height: 157.9%;
  letter-spacing: 0.03em;
}
header.about div.abt_header p strong {
  font-weight: 700;
}
header.about div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.about div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.about > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 8px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.6em);
  }
}

/********************\
ASIDE
\********************/
main aside.abt_aside {
  height: 148px;
  background: rgba(28, 172, 225, 0.25);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
main aside.abt_aside p {
  width: 700px;
  font-weight: 500;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.04em;
}
main aside.abt_aside p strong {
  font-size: 24px;
}
main aside.abt_aside div {
  position: absolute;
  width: 79px;
  height: 79px;
  right: -36px;
  top: 930px;
  border-radius: 50%;
  background: #F77E4B;
}

/********************\
SECTION1
\********************/
section.abt_section1 {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.abt_section1 > div.abt_card {
  width: 90%;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 170px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}
section.abt_section1 > div.abt_card img {
  width: 546px;
  height: 428px;
}
section.abt_section1 > div.abt_card > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
section.abt_section1 > div.abt_card > div h3 {
  font-family: "Handlee";
  font-size: 40px;
  line-height: 25px;
  width: 425px;
  margin: 0;
}
section.abt_section1 > div.abt_card > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
section.abt_section1 > div.abt_card > div > div p {
  width: 425px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
section.abt_section1 > div.abt_card > div > div p strong {
  font-weight: 600;
}
section.abt_section1 span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  margin-top: 750px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION2
\********************/
section.abt_section2 {
  margin: 140px 0 150px 0;
}
section.abt_section2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}
section.abt_section2 div span {
  width: 15px;
  height: 210px;
  display: inline-block;
  background: #F77E4B;
  border-radius: 100px;
}
section.abt_section2 div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 820px;
  letter-spacing: 0.02em;
}
section.abt_section2 div p strong {
  font-size: 32px;
  line-height: 130%;
  font-family: "Handlee";
  color: #1CACE1;
}
section.abt_section2 div p b {
  font-weight: 600;
}

/********************\
HEADER
\********************/
h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

header.contact {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
header.contact div.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 85px;
}
header.contact div.heading h2 {
  width: 606px;
  height: 227px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.contact div.heading h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.contact div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.contact div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.contact > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin: -30px 0 0 0;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1em);
  }
}

div.cercle1 {
  position: absolute;
  right: -50px;
  top: -70px;
  border: 1px solid #F77E4B;
  border-radius: 50%;
  width: 246px;
  height: 246px;
  z-index: -10;
}

div.cercle2 {
  position: absolute;
  left: -5.3vw;
  top: 65vh;
  background: #1CACE1;
  border-radius: 50%;
  width: 191px;
  height: 191px;
}

div.cercle3 {
  position: absolute;
  left: 4vw;
  top: 82vh;
  border: 1px solid #F77E4B;
  border-radius: 50%;
  width: 77px;
  height: 77px;
}

/********************\
SECTION1
\********************/
main section.cct_section1 {
  width: 100%;
  height: 750px;
  background: rgba(28, 172, 225, 0.25);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 190px;
}
main section.cct_section1 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.cct_section1 > div img {
  width: 302px;
}
main section.cct_section1 > div > h3 {
  font-family: "Handlee";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.095em;
  margin: 25px 0 0 0;
  width: 302px;
}
main section.cct_section1 > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin-top: 20px;
  gap: 15px;
  width: 302px;
}
main section.cct_section1 > div > ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
main section.cct_section1 > div > ul li a {
  font-weight: 400;
}
main section.cct_section1 > div > ul li i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
main section.cct_section1 > div > ul li:nth-child(1) i {
  background-image: url("../img/phone-black.svg");
}
main section.cct_section1 > div > ul li:nth-child(2) i {
  background-image: url("../img/localisation-black.svg");
}
main section.cct_section1 > div > ul li:nth-child(3) i {
  background-image: url("../img/mail-black.svg");
}
main section.cct_section1 form {
  margin-top: 60px;
  width: 710px;
  height: 720px;
}
main section.cct_section1 form fieldset {
  border: 1px solid black;
  border-radius: 2px;
}
main section.cct_section1 form fieldset legend {
  font-family: "Handlee";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.095em;
}
main section.cct_section1 form fieldset input,
main section.cct_section1 form fieldset label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
main section.cct_section1 form fieldset div.wpforms-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 38px;
}
main section.cct_section1 form fieldset div.wpforms-field-container > div.wpforms-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 0;
}
main section.cct_section1 form fieldset div.wpforms-field-container > div.wpforms-field input {
  width: 260px;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin: 2px 0;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
}
main section.cct_section1 form fieldset div.wpforms-field-container > div.wpforms-field:nth-child(n+3) input,
main section.cct_section1 form fieldset div.wpforms-field-container > div.wpforms-field:nth-child(n+3) textarea {
  width: 575px;
  border: none;
  margin: 8px 0;
}
main section.cct_section1 form fieldset div.wpforms-field-container > div.wpforms-field:nth-child(n+3) input {
  border-bottom: 1px solid black;
}
main section.cct_section1 form fieldset div.wpforms-field-container > div.wpforms-field:nth-child(n+3) textarea {
  height: 100px;
}
main section.cct_section1 form fieldset div.wpforms-field-container input:focus,
main section.cct_section1 form fieldset div.wpforms-field-container textarea:focus {
  outline-style: none;
  box-shadow: none;
  background-color: white !important;
}
main section.cct_section1 form fieldset div.wpforms-field-container input::placeholder,
main section.cct_section1 form fieldset div.wpforms-field-container textarea::placeholder {
  color: black;
  opacity: 0.3;
  font-weight: 400;
}
main section.cct_section1 form div.wpforms-field-description {
  font-size: 10px;
  opacity: 0.5;
  font-weight: 400;
}
main section.cct_section1 form div > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: #1CACE1;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  transition: 0.3s;
  margin: 25px auto 0 auto;
}

/********************\
SECTION2
\********************/
main section.cct_section2 {
  margin-top: 50px;
}
main section.cct_section2 > h3 {
  font-family: "Handlee";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.095em;
  margin: 5px 0 0 11%;
  width: 302px;
}
main section.cct_section2 > div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
}
main section.cct_section2 > div iframe {
  border-radius: 20px;
  width: 630px;
  height: 241px;
}
main section.cct_section2 > div ::marker {
  color: #F77E4B;
}
main section.cct_section2 > div ul {
  padding: 0;
  width: 500px;
}

/********************\
FOOTER
\********************/
footer.cct-footer {
  margin-top: 50px;
  padding: 25px 0;
}
footer.cct-footer p {
  color: white;
}
footer.cct-footer p a {
  color: white;
  text-decoration: underline;
}

/********************\
HEADER
\********************/
header.consultation {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.consultation div.cst_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 85px;
}
header.consultation div.cst_header h2 {
  width: 606px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.consultation div.cst_header h2 strong {
  width: 606px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.consultation div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.consultation div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.consultation > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 3px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.8em);
  }
}

/********************\
SECTION1
\********************/
main section.cst > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 80%;
  margin: 40px auto 0 auto;
}
main section.cst > div > article {
  border: 2px solid #1CACE1;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 35px;
}
main section.cst > div > article > h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 112%;
  text-align: center;
  margin: 0;
  width: 200px;
}
main section.cst > div > article img {
  width: 182px;
  height: 182px;
  border-radius: 50%;
}
main section.cst > div > article div > p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 112%;
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
main section.cst > div > article div > div > button {
  font-weight: 500;
  font-size: 14px;
  line-height: 112%;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
main section.cst > div > article div > div button:nth-of-type(1) {
  background-color: #4A423F;
}
main section.cst > div > article div > div button:nth-of-type(2) {
  background-color: #F77E4B;
}
main section.cst > div > article div > div button:nth-of-type(3) {
  background-color: #1CACE1;
}
main section.cst > div > article div > div button:hover {
  margin-left: 0;
}

main section.cst_section1 div.explications > div.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 500;
  opacity: 0.8;
}
main section.cst_section1 div.explications > div.white_content {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 85%;
  background-color: white;
  z-index: 550;
  border-radius: 25px;
}
main section.cst_section1 div.explications > div.white_content a {
  font-size: 16px;
  position: absolute;
  top: -15px;
  padding: 8px 18px;
  color: white;
  border-radius: 20px;
  right: -15px;
  vertical-align: middle;
  background-color: #1CACE1;
  transition: 0.3s;
}
main section.cst_section1 div.explications > div.white_content a i {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.cst_section1 div.explications > div.white_content a:hover {
  scale: 1.1;
  transition: 0.3s;
}
main section.cst_section1 div.explications > div.white_content h3 {
  font-family: "Handlee";
  font-size: 40px;
  line-height: 112%;
  margin: 20px 0 0 0;
  text-align: center;
}
main section.cst_section1 div.explications > div.white_content h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 112%;
  padding: 5px 0;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 10px 0;
}
main section.cst_section1 div.explications > div.white_content div.cst_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 2%;
}
main section.cst_section1 div.explications > div.white_content div.cst_content > div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 506px;
  max-height: 300px;
}
main section.cst_section1 div.explications > div.white_content div.cst_content > div button {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  background: #1CACE1;
  border-radius: 90px;
  transition: 0.3s;
}
main section.cst_section1 div.explications > div.white_content div.cst_content > div button i {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.cst_section1 div.explications > div.white_content div.cst_content img {
  border-radius: 15px;
  width: 546px;
  height: 420px;
}
main section.cst_section1 div.explications div:nth-of-type(1) > h4 {
  background-color: #4A423F;
}
main section.cst_section1 div.explications div:nth-of-type(2) > h4 {
  background-color: #F77E4B;
}
main section.cst_section1 div.explications div:nth-of-type(3) > h4 {
  background-color: #1CACE1;
}

aside.cst_aside {
  padding: 50px 0 150px 0;
}
aside.cst_aside span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
HEADER
\********************/
header.cabinet {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.cabinet div.cab_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 150px;
}
header.cabinet div.cab_header h2 {
  width: 606px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.cabinet div.cab_header h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.cabinet div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.cabinet div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.cabinet > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 8px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.6em);
  }
}

/********************\
SECTION1
\********************/
section.cab_section1 h3 {
  width: 400px;
}
section.cab_section1 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 50px 0;
}
section.cab_section1 > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
section.cab_section1 > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.cab_section1 > div > div p strong {
  font-weight: 600;
}
section.cab_section1 span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  margin: 0;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION2
\********************/
section.cab_section2 {
  margin-top: 150px;
  position: relative;
}
section.cab_section2 h3 {
  margin: 0;
}
section.cab_section2 h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 70px;
}
section.cab_section2 h4 i {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #F77E4B;
}
section.cab_section2 > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
section.cab_section2 > div:nth-child(1) > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
}
section.cab_section2 > div:nth-child(1) > div > div p {
  width: 480px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.cab_section2 > div:nth-child(1) > div > div p strong {
  font-weight: 600;
}
section.cab_section2 > div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 200px;
}
section.cab_section2 > div:nth-child(2) > div h4 {
  margin: 0;
}
section.cab_section2 > div:nth-child(2) > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
}
section.cab_section2 > div:nth-child(2) > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.cab_section2 > div:nth-child(2) > div > div p strong {
  font-weight: 600;
}
section.cab_section2 > div:nth-child(2) > div > div p a {
  text-decoration: underline;
}
section.cab_section2 > div:nth-child(3) {
  position: absolute;
  width: 191px;
  height: 191px;
  right: 197px;
  top: 330px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}
section.cab_section2 > div:nth-child(4) {
  position: absolute;
  width: 191px;
  height: 191px;
  right: 50px;
  top: 380px;
  border-radius: 50%;
  border: 1px solid #1CACE1;
}

/********************\
SECTION3
\********************/
section.cab_section3 {
  margin-top: 200px;
  position: relative;
}
section.cab_section3 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 50px 0 100px 0;
}
section.cab_section3 > div > div:nth-child(1) {
  padding: 43px 127px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
}
section.cab_section3 > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section.cab_section3 > div > div:nth-child(2) p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 540px;
}
section.cab_section3 > div > div:nth-child(2) p strong {
  font-weight: 600;
}
section.cab_section3 > div:nth-child(3) {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 500px;
  top: 70px;
  padding: 0;
  border-radius: 50%;
  background: #1CACE1;
  z-index: -1;
}
section.cab_section3 > div:nth-child(4) {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 212px;
  padding: 0;
  top: 300px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}

/********************\
HEADER
\********************/
header.ateliers {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.ateliers div.atl_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 150px;
}
header.ateliers div.atl_header h2 {
  width: 606px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.ateliers div.atl_header h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.ateliers div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.ateliers div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.ateliers > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 8px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.6em);
  }
}

/********************\
SECTION1
\********************/
main section.atl_section1 {
  position: relative;
}
main section.atl_section1 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 50px 0;
}
main section.atl_section1 > div img {
  border-radius: 2px;
}
main section.atl_section1 > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
main section.atl_section1 > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
main section.atl_section1 > div > div p strong {
  font-weight: 600;
}
main section.atl_section1 button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 30px auto 0 auto;
  gap: 10px;
  background: #F77E4B;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
  line-height: 21px;
}
main section.atl_section1 button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.atl_section1 > div.cercle {
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 191px;
  height: 191px;
  left: 160px;
  top: 450px;
  z-index: -1;
  border-radius: 50%;
  background: #F77E4B;
}

/********************\
SECTION2
\********************/
section.atl_section2 {
  margin: 150px 0;
  position: relative;
}
section.atl_section2 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 50px 0;
}
section.atl_section2 > div img {
  border-radius: 2px;
}
section.atl_section2 > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
section.atl_section2 > div > div p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.02em;
}
section.atl_section2 > div > div p strong {
  font-weight: 600;
}
section.atl_section2 > div > div p a {
  text-decoration: underline;
}
section.atl_section2 span {
  width: 500px;
  height: 50px;
  position: absolute;
  right: 0;
  margin: 0;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
HEADER
\********************/
header.methodes {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.methodes div.mtd_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 85px;
}
header.methodes div.mtd_header h2 {
  width: 606px;
  height: 227px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.methodes div.mtd_header h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.methodes div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.methodes div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.methodes > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 3px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.8em);
  }
}

/********************\
SECTION
\********************/
section.mtd_section {
  position: relative;
}
section.mtd_section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  margin: 50px 0 0 131px;
}
section.mtd_section > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
section.mtd_section > div > div h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}
section.mtd_section > div > div div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.mtd_section > div > div div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 670px;
}
section.mtd_section > div > div div p strong {
  font-weight: 600;
}
section.mtd_section > div > div div p a {
  text-decoration: underline;
}

/********************\
SECTION 2
\********************/
section.mtd_section2 {
  margin-top: 100px;
}
section.mtd_section2 > div {
  flex-direction: row-reverse;
  margin: 50px 0 0 131px;
  justify-content: flex-end;
}
section.mtd_section2 > div.cercle1 {
  position: absolute;
  width: 191px;
  height: 191px;
  right: -50px;
  top: 200px;
  border-radius: 50%;
  border: 1px solid #F77E4B;
}
section.mtd_section2 > div.cercle2 {
  position: absolute;
  width: 191px;
  height: 191px;
  right: -80px;
  left: auto;
  top: 300px;
  margin: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #1CACE1;
}

/********************\
SECTION 3
\********************/
section.mtd_section3 {
  margin: 100px 0 200px 0;
}
section.mtd_section3 span {
  position: absolute;
  right: 0px;
  top: 650px;
  width: 500px;
  height: 50px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
HEADER
\********************/
header.reflexes {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.reflexes div.rfx_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 85px;
}
header.reflexes div.rfx_header h2 {
  width: 606px;
  height: 227px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.reflexes div.rfx_header h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.reflexes div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.reflexes div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.reflexes > img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 3px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.8em);
  }
}

/********************\
SECTION1
\********************/
section.rfx_section1 {
  position: relative;
}
section.rfx_section1 > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
  margin-top: 50px;
  background: rgba(28, 172, 225, 0.25);
}
section.rfx_section1 > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section.rfx_section1 > div:nth-child(2) > div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 860px;
  text-align: center;
}
section.rfx_section1 > div:nth-child(3) {
  display: flex;
  flex-direction: row;
}
section.rfx_section1 > div:nth-child(3) > div {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 50px auto 0 auto;
  gap: 130px;
  background-color: white;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
  padding: 29px 100px 29px 55px;
}
section.rfx_section1 img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
section.rfx_section1 ol {
  margin-block-start: 0;
  margin-block-end: 0;
}
section.rfx_section1 ol li {
  height: 40px;
}
section.rfx_section1 ol li:last-child {
  height: initial;
}
section.rfx_section1 > div:nth-child(4) {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 350px;
  top: 435px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}
section.rfx_section1 span {
  position: absolute;
  right: 0px;
  top: 630px;
  width: 500px;
  height: 50px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/********************\
SECTION2-3
\********************/
section.rfx_section {
  position: relative;
  margin-top: 150px;
}
section.rfx_section h3 {
  width: 565px;
}
section.rfx_section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  margin: 50px 0 0 131px;
}
section.rfx_section > div div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.rfx_section > div div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 550px;
}
section.rfx_section > div div p strong {
  font-weight: 600;
}
section.rfx_section > div div p a {
  text-decoration: underline;
}

/********************\
SECTION2
\********************/
section.rfx_section2 > div:nth-child(3) {
  position: absolute;
  width: 166px;
  height: 166px;
  left: 380px;
  top: 390px;
  border-radius: 50%;
  background: #F77E4B;
  z-index: -1;
}
section.rfx_section2 > div:nth-child(4) {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 500px;
  top: 520px;
  border-radius: 50%;
  border: 1px solid #1CACE1;
}

/********************\
SECTION3
\********************/
section.rfx_section3 > div:nth-child(3) {
  position: absolute;
  width: 134px;
  height: 138px;
  right: -79px;
  top: 300px;
  border-radius: 50%;
  background: #F77E4B;
}
section.rfx_section3 > div:nth-child(4) {
  position: absolute;
  width: 191px;
  height: 191px;
  right: 130px;
  top: 400px;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid #1CACE1;
}

/********************\
SECTION4
\********************/
section.rfx_section4 {
  margin-top: 150px;
  position: relative;
}
section.rfx_section4 h3 {
  width: 100%;
  text-align: center;
  margin: 0;
}
section.rfx_section4 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}
section.rfx_section4 > div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 830px;
}
section.rfx_section4 > div p strong {
  font-weight: 600;
}
section.rfx_section4 > div p a {
  text-decoration: underline;
}
section.rfx_section4 > div.cercle {
  position: absolute;
  width: 243px;
  height: 243px;
  left: 1104px;
  top: 153px;
  border-radius: 50%;
  background: rgba(28, 172, 225, 0.25);
  z-index: -1;
}

/********************\
ASIDE
\********************/
aside.rfx_aside {
  margin: 100px 0 150px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 13px;
}
aside.rfx_aside p {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
aside.rfx_aside button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  background: #F77E4B;
  border-radius: 90px;
  transition: 0.3s;
}
aside.rfx_aside button i {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}

/********************\
404 MAIN
\********************/
main section.erreur404 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 70px 0;
}
main section.erreur404 div:nth-of-type(1) {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 564px;
  height: 302px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
}
main section.erreur404 div:nth-of-type(1) p {
  font-weight: 500;
  font-size: 250px;
  line-height: 305px;
  padding: 20px;
}
main section.erreur404 div:nth-of-type(1) p strong {
  font-family: "Handlee";
  line-height: 334px;
}
main section.erreur404 div:nth-of-type(2) > p {
  font-weight: 400;
  font-size: 80px;
  line-height: 98px;
  width: 370px;
}
main section.erreur404 div:nth-of-type(2) > p strong {
  font-family: "Handlee";
  font-size: 80px;
  line-height: 107px;
}
main section.erreur404 div:nth-of-type(2) button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  font-size: 18px;
  background: #1CACE1;
  border-radius: 200px;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 40px;
}
main section.erreur404 div:nth-of-type(2) button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.erreur404 div.cercle1 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 750px;
  top: 260px;
  border-radius: 50%;
  background: #F77E4B;
}
main section.erreur404 div.cercle2 {
  top: 500px;
}
main section.erreur404 div.cercle3 {
  top: 630px;
}

/********************\
FOOTER
\********************/
footer {
  width: 100%;
  background-image: url("../img/cabinet_zen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer > div {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
footer > div > img {
  border-radius: 50%;
  width: 325px;
  height: 325px;
}
footer > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
}
footer > div > div > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: #1CACE1;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  transition: 0.3s;
}
footer > div > div > button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
footer > div > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  gap: 25px;
  width: 351px;
}
footer > div > div > ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
footer > div > div > ul li i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
footer > div > div > ul li a {
  color: white;
}
footer > div > div > ul li:nth-child(1) i {
  background-image: url("../img/phone.svg");
}
footer > div > div > ul li:nth-child(2) i {
  background-image: url("../img/location.svg");
}
footer > div > div > ul li:nth-child(3) i {
  background-image: url("../img/mail.svg");
}
footer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
}
footer > div:nth-child(2) p {
  color: white;
  font-size: 12px;
}
footer > div:nth-child(2) a {
  color: white;
  text-decoration: underline;
}

/*# sourceMappingURL=app.css.map */
