@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
  margin: 0;
}
* a {
  text-decoration: none;
}

/********************\
NAVIGATION
\********************/
nav.navigation {
  position: sticky;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
nav.navigation a {
  text-decoration: none;
}
nav.navigation li:nth-child(1) {
  margin-right: auto;
}
nav.navigation ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 35px;
  width: 90%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
nav.navigation > ul > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
nav.navigation > ul li:hover {
  background-color: red;
}
nav.navigation > ul > li > ul {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  transform: translate(0, 100%);
  background-color: blue;
}
nav.navigation > ul > li > ul li a {
  white-space: nowrap;
}
nav.navigation > ul > li:hover > ul {
  display: block;
}
nav.navigation > ul > li > i {
  animation: rotationFleche 0.2s linear forwards;
}
@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/********************\
HEADER
\********************/
h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

header.accueil {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
header.accueil div.acc_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 85px;
}
header.accueil div.acc_header h2 {
  width: 606px;
  height: 227px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  margin: 0;
}
header.accueil div.acc_header h2 strong {
  width: 606px;
  height: 227px;
  font-family: "Handlee";
  font-size: 63px;
  line-height: 75px;
  background-image: url("../img/hilight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
header.accueil div > img {
  max-width: 293px;
  min-height: 456px;
  border-radius: 2px;
  position: relative;
  margin-top: 30px;
}
header.accueil div > img:nth-of-type(2) {
  transform: rotate(20deg);
  z-index: -1;
  margin-left: -70px;
  scale: 0.9;
}
header.accueil button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  background: #1CACE1;
  border-radius: 90px;
  margin-top: 56px;
  transition: 0.3s;
}
header.accueil button i {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
header.accueil button:hover {
  scale: 110%;
  margin-left: 10px;
  transition: 0.3s;
}
header.accueil p + img {
  display: inline-block;
  width: 17px;
  animation: downArrow 0.7s ease-out infinite alternate;
  margin-top: 3px;
}
@keyframes downArrow {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.8em);
  }
}
header.accueil div.cercle1 {
  position: absolute;
  right: -50px;
  top: -70px;
  border: 1px solid #F77E4B;
  border-radius: 50%;
  width: 246px;
  height: 246px;
  z-index: -10;
}
header.accueil div.cercle2 {
  position: absolute;
  left: -5.3vw;
  top: 65vh;
  background: #1CACE1;
  border-radius: 50%;
  width: 191px;
  height: 191px;
}
header.accueil div.cercle3 {
  position: absolute;
  left: 4vw;
  top: 82vh;
  border: 1px solid #F77E4B;
  border-radius: 50%;
  width: 77px;
  height: 77px;
}

/********************\
SECTION1
\********************/
main section h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-left: 131px;
  color: #1CACE1;
}
main section h3 {
  font-family: "Handlee";
  font-size: 40px;
  line-height: 112%;
  margin: 5px 0 0 131px;
}

main section.acc_section1 video {
  width: 664px;
  height: 403px;
  padding-top: 50px;
  border-radius: 2px;
}
main section.acc_section1 video p {
  font-size: 16px;
  width: 664px;
}
main section.acc_section1 video + div {
  margin: 30px auto 0 auto;
}
main section.acc_section1 video + div div > i {
  background-image: url("../img/arrow.png");
  display: inline-block;
  background-size: contain;
  width: 48.03px;
  height: 53.76px;
  transform: rotate(-7.86deg);
}
main section.acc_section1 video + div div > p {
  width: 488px;
  height: 117px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}
main section.acc_section1 video + div div > p strong {
  font-size: 28px;
}
main section.acc_section1 video + div div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
main section.acc_section1 video + div div i {
  margin-top: -28px;
}
main section.acc_section1 video + div div + p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
main section.acc_section1 video + div button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 80px auto 0 auto;
  gap: 10px;
  background: #F77E4B;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
main section.acc_section1 video + div button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.acc_section1 h3 + div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 88px;
}
main section.acc_section1 div.caroussel {
  width: 860px;
  height: 400px;
  margin: 60px auto 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
  border-radius: 200px;
  z-index: 50;
}
main section.acc_section1 div.caroussel .carousel-cell {
  display: none;
}
main section.acc_section1 div.caroussel div {
  margin-top: 35px;
}
main section.acc_section1 div.caroussel div h4 {
  width: 403px;
  height: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto;
  text-transform: uppercase;
}
main section.acc_section1 div.caroussel div div > p {
  width: 450px;
  height: 160px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
main section.acc_section1 div.caroussel div div > img {
  width: 143px;
  height: 224px;
  display: inline-block;
  border-radius: 2px;
}
main section.acc_section1 div.caroussel div div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: row;
  padding: 0px;
  gap: 56px;
}
main section.acc_section1 div.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
main section.acc_section1 div.button button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 11px;
  margin: 0 20px;
  gap: 50px;
  font-size: 18px;
  background: #1CACE1;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
}
main section.acc_section1 div.button button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}
main section.acc_section1 > div:last-child {
  width: 179px;
  height: 179px;
  position: absolute;
  right: 20vw;
  top: 240vh;
  background: #F77E4B;
  border-radius: 50%;
}

/********************\
SECTION2
\********************/
section.acc_section2 {
  margin-top: 110px;
}
section.acc_section2 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
section.acc_section2 div article {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #1CACE1;
  border-radius: 5px;
}
section.acc_section2 div article h4 {
  width: 231px;
  height: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 30px 0 0 0;
  margin: 0;
  text-align: center;
}
section.acc_section2 div article img {
  border-radius: 50%;
  width: 155px;
  height: 155px;
  margin: 18px 0 0 0;
  padding: 0;
}
section.acc_section2 div article p {
  width: 261px;
  padding: 25px 25px 10px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-align: center;
}
section.acc_section2 div article button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 10px auto 35px auto;
  gap: 10px;
  background: #1CACE1;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
section.acc_section2 div article button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}

/********************\
SECTION3
\********************/
section.acc_section3 {
  margin-top: 150px;
}
section.acc_section3 > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 50px;
}
section.acc_section3 > div article img {
  width: 485px;
  height: 140px;
}
section.acc_section3 > div article div > h4 {
  width: 317px;
  height: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 25px auto 0 auto;
}
section.acc_section3 > div article div > p {
  width: 390px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  margin: 15px auto 0 auto;
}
section.acc_section3 > div article div > ul {
  padding: 15px;
  width: 390px;
  margin: 0 auto;
  margin-top: -10px;
}
section.acc_section3 > div article div > ul > li {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
section.acc_section3 > div article div > ul > li strong {
  font-weight: 600;
}
section.acc_section3 button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 50px auto 0 auto;
  gap: 10px;
  background: #F77E4B;
  border: 0;
  border-radius: 90px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
section.acc_section3 button i {
  background-image: url("../img/informations.svg");
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}

/********************\
SECTION4
\********************/
section.acc_section5 {
  margin-top: 100px;
}

div.sticker {
  background-color: #0000ff;
}

/********************\
FOOTER
\********************/

/*# sourceMappingURL=app.css.map */
