/********************\
SECTION1
\********************/
main section.atl_section1 {
    margin-top: 50px;

    >div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 70px;
        padding: 50px 0;

        img {
            max-width: 700px;
            max-height: 500px;
        }

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            p {
                width: 600px;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.02em;

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    button {
        margin-top: 30px;
        gap: 10px;
        background: #F77E4B;

        i {
            background-image: url("../img/calendar.svg");
        }

    }

    >div.cercle {
        position: absolute;
        display: inline-block;
        padding: 0;
        width: 191px;
        height: 191px;
        left: 160px;
        top: 450px;
        z-index: -1;
        border-radius: 50%;
        background: #F77E4B;
    }
}

/********************\
SECTION2
\********************/
section.atl_section2 {
    margin: 150px 0;
    position: relative;

    h2, h3{
        text-align: end;
    }

    >div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 70px;
        padding: 50px 0;

        img {
            max-width: 700px;
            max-height: 500px;
        }

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            p {
                width: 600px;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.02em;

                strong {
                    font-weight: 600;
                }

                a{
                    text-decoration: underline;
                }
            }
        }
    }

    span {
        width: 500px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 690px;
        margin: 0;

        background-image: url("../img/hilight.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}