/********************\
HEADER
\********************/
div.cercle1 {
    position: absolute;
    right: -50px;
    top: -70px;
    border: 1px solid #F77E4B;
    border-radius: 50%;
    width: 246px;
    height: 246px;
    z-index: -10;
}

div.cercle2 {
    position: absolute;
    left: -5.3vw;
    top: 65vh;
    background: #1CACE1;
    border-radius: 50%;
    width: 191px;
    height: 191px;
}

div.cercle3 {
    position: absolute;
    left: 4vw;
    top: 82vh;
    border: 1px solid #F77E4B;
    border-radius: 50%;
    width: 77px;
    height: 77px;
}

/********************\
SECTION1
\********************/
main section.cct_section1 {
    background: rgba(28, 172, 225, 0.25);
    flex-wrap: wrap-reverse;
    flex-direction: row;
    gap: 9%;
    margin-top: 50px;
    padding: 70px 0;

    >div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;

        img {
            max-width: 320px;
            max-height: 320px;
            padding-top: 20px;
        }

        >h3 {
            font-family: 'Handlee';
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.095em;
            margin: 25px 0 0 0;
            width: 302px;
        }

        >ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            text-decoration: none;
            list-style: none;
            padding: 0px;
            margin-top: 20px;
            gap: 15px;
            width: 302px;

            li {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 10px;

                a {
                    font-weight: 400;
                    text-decoration: underline;
                }

                i {
                    display: inline-block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }

            li:nth-child(1) i {
                background-image: url("../img/phone-black.svg");
            }

            li:nth-child(2) i {
                background-image: url("../img/localisation-black.svg");
            }

            li:nth-child(3) i {
                background-image: url("../img/mail-black.svg");
            }
        }
    }

    >div:nth-of-type(2) {
        width: 645px;
        padding-right: 20px;

        legend {
            font-family: 'Handlee';
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.095em;
            text-align: center;
        }

        >div.wpforms-container-full {
            border: 1px solid black;
            border-radius: 5px;
            margin: 10px auto;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 645px;

                div.wpforms-field-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    div.wpforms-field {
                        display: flex;
                        flex-direction: column;
                        padding: 20px 10px 10px 20px;


                        label {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.05em;
                        }

                        input {
                            background-color: transparent;
                            border: 1px solid transparent;
                            border-bottom: 1px solid #000000;
                            transition: 0.3s;
                            width: 300px;
                            padding: 5px;
                        }

                        ::placeholder {
                            color: #0000004a;
                            font-size: 16px;
                            text-transform: none !important;
                        }

                        input:focus {
                            background-color: white;
                            transition: 0.3s;
                        }

                        div.wpforms-field-description {
                            color: #0000004a;
                            font-size: 12px;
                        }

                        textarea {
                            resize: vertical;
                            max-width: 603px;
                            border-radius: 2px;
                            border: 0;
                        }
                    }

                    div.wpforms-field:nth-child(n+3) {
                        width: 640px;

                        label {
                            width: 100%;
                        }

                        input {
                            width: 600px;
                        }
                    }

                    div.wpforms-field[data-field-id="4"] {
                        padding: 20px 0 10px 0;
                    }

                    div.wpforms-field[data-field-id="5"] {

                        input {
                            text-transform: uppercase;
                        }
                    }
                }

                div.wpforms-submit-container {
                    button {
                        background: #F77E4B;
                        border-radius: 90px;
                        color: white;
                        margin: 10px 0 25px 0;
                    }
                }
            }
        }
    }
}


/********************\
SECTION2
\********************/
main section.cct_section2 {
    margin-top: 50px;

    >h3 {
        font-family: 'Handlee';
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.095em;
        margin: 5px 0 0 11%;
        width: 302px;
    }

    >div {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
        margin-top: 50px;

        iframe {
            border-radius: 20px;
            width: 630px;
            height: 241px;
        }

        ::marker {
            color: #F77E4B;
        }

        ul {
            padding: 0;
            width: 500px;
        }
    }
}

/********************\
FOOTER
\********************/
footer.cct-footer {
    margin-top: 50px;
    padding: 25px 0;

    p {
        color: white;

        a {
            color: white;
            text-decoration: underline;
        }
    }
}