button:hover {
    scale: 110%;
    margin-left: 10px;
    transition: 0.3s;
}

/********************\
HEADER
\********************/
h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}

header.accueil {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    align-items: center;

    div.acc_header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0px;
        gap: 85px;

        h2 {
            width: 606px;
            height: 227px;

            font-weight: 400;
            font-size: 50px;
            line-height: 67px;
            margin: 0;

            strong {
                width: 606px;
                height: 227px;

                font-family: 'Handlee';
                font-size: 63px;
                line-height: 75px;

                background-image: url("../img/hilight.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
            }
        }
    }


    div>img {
        max-width: 293px;
        min-height: 456px;
        border-radius: 2px;
        position: relative;
        margin-top: 30px;
    }

    div>img:nth-of-type(2) {
        transform: rotate(20deg);
        z-index: -1;
        margin-left: -70px;
        scale: 0.9;
    }

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        gap: 15px;

        border: 0;
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        cursor: pointer;
        background: #1CACE1;
        border-radius: 90px;
        margin-top: 56px;
        transition: 0.3s;

        i {
            background-image: url("../img/calendar.svg");
            background-repeat: no-repeat;
            display: inline-block;
            background-size: contain;
            width: 20px;
            height: 20px;
        }
    }

    p+img {
        display: inline-block;
        width: 17px;
        animation: downArrow 0.7s ease-out infinite alternate;
        margin-top: 3px;
    }

    @keyframes downArrow {
        0% {
            -webkit-transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(0.8em);
        }
    }
}

/********************\
SECTION1
\********************/
main section {
    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        margin-left: 131px;

        color: #1CACE1;
    }

    h3 {
        font-family: 'Handlee';
        font-size: 40px;
        line-height: 112%;
        margin: 5px 0 0 131px;
    }
}

main section.acc_section1 {
    video {
        width: 664px;
        height: 403px;
        padding-top: 50px;
        border-radius: 2px;

        p {
            font-size: 16px;
            width: 664px;
        }
    }

    video+div {
        margin: 30px auto 0 auto;

        div>i {
            background-image: url("../img/arrow.png");
            display: inline-block;
            background-size: contain;
            width: 48.03px;
            height: 53.76px;

            transform: rotate(-7.86deg);
        }

        div>p {
            width: 488px;
            height: 117px;

            font-weight: 500;
            font-size: 16px;
            line-height: 28px;

            text-align: center;
            letter-spacing: 0.03em;

            strong {
                font-size: 28px;
            }
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            i {
                margin-top: -28px;
            }
        }

        div+p {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
        }

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 20px;
            margin: 80px auto 0 auto;
            gap: 10px;

            background: #F77E4B;
            border: 0;
            border-radius: 90px;
            color: white;
            cursor: pointer;

            font-weight: 500;
            font-size: 16px;
            line-height: 21px;

            i {
                background-image: url("../img/informations.svg");
                display: inline-block;
                background-size: contain;
                width: 20px;
                height: 20px;
            }
        }
    }

    h3+div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 88px;
    }

    div.caroussel {
        width: 860px;
        height: 400px;
        margin: 60px auto 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;

        background: #FFFFFF;
        box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.18);
        border-radius: 200px;
        z-index: 50;

        .carousel-cell {
            display: none;
            counter-increment: carousel-cell;
        }

        div {
            margin-top: 35px;

            h4 {
                width: 403px;
                height: 32px;

                font-weight: 500;
                font-size: 24px;
                line-height: 32px;

                margin: 0 auto;
                text-transform: uppercase;
            }

            div>p {
                width: 450px;
                height: 160px;

                font-weight: 500;
                font-size: 16px;
                line-height: 32px;

                letter-spacing: 0.03em;
            }

            div>img {
                width: 143px;
                height: 224px;
                display: inline-block;
                border-radius: 2px;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                flex-direction: row;
                padding: 0px;
                gap: 56px;
            }
        }
    }

    div.button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
        position: relative;
        gap: 15px;
        z-index: 50;

        span{
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
            margin: 3px;
            border: 1px solid #1CACE1;
            cursor: pointer;
        }

        .rempli{
            background: #1CACE1;
            color: #1CACE1;
        }

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 20px;
            margin: 0 10px;
            gap: 50px;
            font-size: 18px;

            background: #1CACE1;
            border-radius: 200px;
            border: 0;
            cursor: pointer;
            color: #FFFFFF;

            i {
                background-image: url("../img/informations.svg");
                display: inline-block;
                background-size: contain;
                width: 20px;
                height: 20px;
            }
        }
    }

    >div:last-child {
        width: 179px;
        height: 179px;
        position: absolute;
        right: 20vw;
        top: 240vh;
        background: #F77E4B;
        border-radius: 50%;
    }
}

/********************\
SECTION2
\********************/
section.acc_section2 {
    margin-top: 110px;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;

        article {
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 3px solid #1CACE1;
            border-radius: 5px;

            h4 {
                width: 231px;
                height: 48px;

                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                padding: 30px 0 0 0;
                margin: 0;
                text-align: center;
            }

            img {
                border-radius: 50%;
                width: 155px;
                height: 155px;
                margin: 18px 0 0 0;
                padding: 0;
            }

            p {
                width: 261px;
                padding: 25px 25px 10px 25px;

                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.02em;
                text-align: center;
            }

            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 20px;
                margin: 10px auto 35px auto;
                gap: 10px;

                background: #1CACE1;
                border: 0;
                border-radius: 90px;
                color: white;
                cursor: pointer;

                font-weight: 500;
                font-size: 16px;
                line-height: 21px;

                i {
                    background-image: url("../img/informations.svg");
                    display: inline-block;
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

/********************\
SECTION3
\********************/
section.acc_section3 {
    margin-top: 150px;
    overflow: hidden;

    >h2, >h3{
        text-align: center;
        margin: 0;
    }

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: baseline;
        margin-top: 50px;

        article {
            img {
                width: 485px;
                height: 140px;
            }

            div {
                >h4 {
                    width: 317px;
                    height: 29px;

                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    margin: 25px auto 0 auto;
                }

                >p {
                    width: 390px;

                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: justify;
                    margin: 15px auto 0 auto;
                }

                >ul {
                    padding: 15px;
                    width: 390px;
                    margin: 0 auto;
                    margin-top: -10px;

                    >li {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;

                        strong {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        margin: 90px auto 0 auto;
        gap: 10px;

        background-color: #F77E4B;
        border: 0;
        border-radius: 90px;
        color: white;
        cursor: pointer;

        font-weight: 500;
        font-size: 16px;
        line-height: 21px;

        i {
            background-image: url("../img/informations.svg");
            display: inline-block;
            background-size: contain;
            width: 20px;
            height: 20px;
        }
    }

    span {
        position: absolute;
        right: 0px;
        top: 470vh;
        width: 500px;
        height: 50px;

        background-image: url("../img/hilight.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

/********************\
SECTION4
\********************/
section.acc_section5 {
    margin: 100px 0;
}