/********************\
HEADER
\********************/
header.cabinet {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    align-items: center;

    div.cab_header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0px;
        gap: 150px;

        h2 {
            width: 606px;

            font-weight: 400;
            font-size: 50px;
            line-height: 67px;
            margin: 0;

            strong {
                width: 606px;
                height: 227px;

                font-family: 'Handlee';
                font-size: 63px;
                line-height: 75px;

                background-image: url("../img/hilight.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
            }
        }
    }


    div>img {
        max-width: 293px;
        min-height: 456px;
        border-radius: 2px;
        position: relative;
        margin-top: 30px;
    }

    div>img:nth-of-type(2) {
        transform: rotate(20deg);
        z-index: -1;
        margin-left: -70px;
        scale: 0.9;
    }

    >img {
        display: inline-block;
        width: 17px;
        animation: downArrow 0.7s ease-out infinite alternate;
        margin-top: 8px;
    }

    @keyframes downArrow {
        0% {
            -webkit-transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(0.6em);
        }
    }
}

/********************\
SECTION1
\********************/
section.cab_section1{
    h3{
        width: 400px;
    }
}