/********************\
FOOTER
\********************/
footer {
    width: 100%;
    background-image: url("../img/cabinet_zen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    >div {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 200px;

        >img {
            border-radius: 50%;
            width: 325px;
            height: 325px;
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 60px;

            >button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 20px;
                gap: 10px;

                background-color: #1CACE1;
                border: 0;
                border-radius: 90px;
                color: white;
                cursor: pointer;

                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                transition: 0.3s;

                i {
                    background-image: url("../img/informations.svg");
                    display: inline-block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }

            >ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-decoration: none;
                list-style: none;
                padding: 0px;
                gap: 25px;
                width: 351px;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 10px;

                    i {
                        display: inline-block;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 20px;
                    }

                    a {
                        color: white;
                    }
                }

                li:nth-child(1) i {
                    background-image: url("../img/phone.svg");
                }

                li:nth-child(2) i {
                    background-image: url("../img/location.svg");
                }

                li:nth-child(3) i {
                    background-image: url("../img/mail.svg");
                }
            }
        }
    }

    >div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-bottom: 25px;

        p {
            color: white;
            font-size: 12px;
        }

        a {
            color: white;
            text-decoration: underline;
        }
    }
}

//RESPONSIVE Accueil
/*----------------------------*\
HEADER
\-----------------------------*/
@media screen and (max-width:1495px) {
    header {
        >p {
            margin-top: 20px;
        }

        div>img {
            width: 275px;
            height: 450px;
        }

        div>img:nth-of-type(2) {
            width: 270px;
            height: 460px;
        }
    }
}

@media screen and (max-width:1445px) {
    header {
        >div {
            margin-top: 10vh;
        }

        div>img {
            width: 202px;
            height: 310px;
            margin-top: 0;
        }

        div>img:nth-of-type(2) {
            width: 190px;
            height: 320px;
        }

        >p {
            margin-top: 60px;
        }
    }

    div.cercle2 {
        left: -10vw;
        top: 30vh;
    }

    div.cercle3 {
        left: 1vw;
        top: 40vh;
    }
}

@media screen and (max-width:1227px) {
    header {
        div>img {
            width: 177px;
            height: 281px;
        }

        div>img:nth-of-type(2) {
            width: 167px;
            height: 289px;
        }
    }
}

@media screen and (max-width:1170px) {
    header {
        h1 {
            margin-top: 25px;
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        div+p {
            display: none;
        }

        div>img {
            width: 177px;
            height: 281px;
        }

        div>img:nth-of-type(2) {
            width: 167px;
            height: 289px;
        }
    }

    header.accueil {
        button {
            margin: 20px auto 70px auto;
        }
    }
}

@media screen and (max-width:810px) {
    header {
        >div {
            margin-top: 5vh;
        }
    }

    div.cercle2 {
        left: -15vw;
        top: 55vh;
    }

    div.cercle3 {
        left: 2vw;
        top: 75vh;
    }
}

@media screen and (max-width:800px) {
    div.cercle2 {
        left: -15vw;
        top: 45vh;
    }

    div.cercle3 {
        left: 2vw;
        top: 55vh;
    }
}

@media screen and (max-width:750px) {
    div.cercle2 {
        left: -20vw;
        top: 60vh;
    }

    div.cercle3 {
        left: 1vw;
        top: 70vh;
    }
}

@media screen and (max-width:700px) {
    header {
        h1 {
            width: 83vw;
            font-size: 14px;
        }

        >div h2 {
            width: 83vw;
            font-size: 28px;
            line-height: 44px;

            strong {
                font-size: 36px;
                line-height: 44px;
            }
        }

        div+p {
            display: none;
        }
    }

    header.accueil button {
        margin-bottom: 30px;
    }

    div.cercle2 {
        left: -15vw;
        top: 47vh;
    }

    div.cercle3 {
        left: 6vw;
        top: 60vh;
    }
}

@media screen and (max-width:590px) {
    main section {
        h3 {
            font-size: 30px;
        }
    }

    header>div h2 {
        width: 90vw;
    }
}

@media screen and (max-width:490px) {
    div.cercle2 {
        left: -30vw;
        top: 50vh;
    }

    div.cercle3 {
        left: 1vw;
        top: 60vh;
    }
}

@media screen and (max-width:420px) {
    div.cercle2 {
        left: -35vw;
        top: 50vh;
    }

    div.cercle3 {
        left: 1vw;
        top: 62vh;
    }
}

/*----------------------------*\
SECTION 1
\-----------------------------*/
@media screen and (max-width:1519px) {
    main section.acc_section1 {
        video {
            width: clamp(300px, 83vw, 800px);
        }

        video+div {
            margin-top: 75px;

            button {
                margin: 30px auto 0 auto;
            }
        }

        div.caroussel {
            margin: 100px auto 0 auto;
        }

        >div:last-child {
            top: 930px;
        }
    }
}

@media screen and (max-width:881px) {
    main section.acc_section1 {
        div.caroussel {
            border-radius: 100px;

            .carousel-cell {
                padding: 30px 50px 90px 50px;

                div {
                    flex-direction: column;
                    gap: 15px;
                }
            }
        }

        >div:last-child {
            top: 885px;
        }
    }
}

@media screen and (max-width:590px) {
    main section.acc_section1 {
        padding-bottom: 75px;

        video+div {
            margin-top: 60px;

            div>i {
                left: 10px;
            }

            div>p {
                width: clamp(275px, 100%, 488px);
                font-size: 14px;
                line-height: 24px;

                strong {
                    display: inline-block;
                    font-size: 17px;
                    margin-bottom: 10px;
                    font-weight: 600;

                    abbr {
                        font-weight: 600;
                    }
                }

                br {
                    display: block;
                }
            }

            button {
                margin: 50px auto 0 auto;
            }
        }

        div.caroussel {
            border-radius: 60px;
            margin-top: 90px;

            .carousel-cell {
                padding: 30px 20px 90px 20px;

                h4 {
                    width: 230px;
                    line-height: 24px;
                    font-size: 17px;
                }

                div {
                    flex-direction: column;
                    gap: 15px;

                    p {
                        height: auto;
                        width: 255px;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }

        >div:last-child {
            top: 877px;
            left: 7px;
        }
    }

    button {
        font-size: 14px;
    }
}

@media screen and (max-width:495px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: -15px;
            }
        }
    }
}

@media screen and (max-width:440px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: -30px;
            }
        }
    }
}

@media screen and (max-width:400px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: -40px;
            }
        }
    }
}

@media screen and (max-width:371px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: 0px;
            }
        }
    }
}

/*----------------------------*\
SECTION 2
\-----------------------------*/
@media screen and (max-width:590px) {
    section.acc_section2 {
        div {
            article {
                p {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}

/*----------------------------*\
SECTION 3
\-----------------------------*/
@media screen and (max-width:1471.5px) {
    section.acc_section3 {
        >div {
            article:last-child {
                margin-top: 100px;

                span {
                    top: 92%;
                    right: -150px;
                }
            }
        }
    }
}

@media screen and (max-width:986px) {
    section.acc_section3 {
        >div {
            article:not(article:first-child) {
                margin-top: 100px;
            }
        }
    }
}

@media screen and (max-width:590px) {
    section.acc_section3 {
        >div {
            article {
                width: 100%;

                img {
                    width: 100%;
                }

                div {
                    >h4 {
                        text-align: center;
                        font-size: 17px;
                    }


                    >p {
                        font-size: 14px;
                        width: 295px;
                    }

                    >ul {
                        width: 295px;

                        >li {
                            font-size: 14px;
                            line-height: 23px;
                        }
                    }
                }
            }
        }

        button {
            width: 80%;
        }
    }
}

//responsive page reflexes
/*----------------------------*\
HEADER
\-----------------------------*/
header:not(header.accueil) {
    >img {
        margin-top: 50px;
    }

    div.cercle2 {
        left: -5.3vw;
        top: 41vh;
    }

    div.cercle3 {
        left: 4vw;
        top: 56vh;
    }
}

@media screen and (max-width:1160px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -5.3vw;
            top: 41vh;
        }

        div.cercle3 {
            left: 4vw;
            top: 56vh;
        }
    }
}

@media screen and (max-width:1500px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -8vw;
            top: 27vh;
        }

        div.cercle3 {
            left: 2vw;
            top: 40vh;
        }
    }
}

@media screen and (max-width:1160px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -4vw;
            top: 42vh;
        }

        div.cercle3 {
            left: 9vw;
            top: 55vh;
        }
    }
}

@media screen and (max-width:1090px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -8vw;
            top: 42vh;
        }

        div.cercle3 {
            left: 7vw;
            top: 55vh;
        }
    }
}

@media screen and (max-width:950px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -13vw;
            top: 41vh;
        }

        div.cercle3 {
            left: 4vw;
            top: 54vh;
        }
    }
}

@media screen and (max-width:810px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -18vw;
            top: 42vh;
        }

        div.cercle3 {
            left: 2vw;
            top: 55vh;
        }
    }
}

@media screen and (max-width:750px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -22vw;
            top: 36vh;
        }

        div.cercle3 {
            left: 2vw;
            top: 47vh;
        }
    }
}

@media screen and (max-width:650px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -19vw;
            top: 42vh;
        }

        div.cercle3 {
            left: 6vw;
            top: 54vh;
        }
    }
}

@media screen and (max-width:590px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -23vw;
            top: 43vh;
        }

        div.cercle3 {
            left: 6vw;
            top: 54vh;
        }
    }
}

@media screen and (max-width:540px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -24vw;
            top: 39vh;
        }

        div.cercle3 {
            left: 6vw;
            top: 51vh;
        }
    }
}

@media screen and (max-width:490px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -33vw;
            top: 41vh;
        }

        div.cercle3 {
            left: 1vw;
            top: 51vh;
        }
    }
}

@media screen and (max-width:430px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -37vw;
            top: 40vh;
        }

        div.cercle3 {
            left: 2vw;
            top: 52vh;
        }
    }
}

@media screen and (max-width:415px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -37vw;
            top: 42vh;
        }

        div.cercle3 {
            left: 2vw;
            top: 55vh;
        }
    }
}

@media screen and (max-width:370px) {
    header:not(header.accueil) {
        div.cercle2 {
            left: -44vw;
            top: 46vh;
        }

        div.cercle3 {
            left: 1vw;
            top: 56vh;
        }
    }
}

/*----------------------------*\
SECTION1
\-----------------------------*/
@media screen and (max-width:950px){
    section.rfx_section1 {
        >div:nth-child(3) {
            >div {
                padding: 29px 50px 29px 50px;
            }
        }
    }
}

@media screen and (max-width:800px) {
    section.rfx_section1 {
        >div:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            width: 100%;
            background: rgba(28, 172, 225, 0.25);

            >div {
                gap: 20px;

                p {
                    font-size: 14px;
                    line-height: 26px;
                    width: 85%;
                }
            }
        }

        >div:nth-child(3) {
            display: flex;
            flex-direction: row;

            >div {
                gap: 50px;
                border-radius: 80px;
                padding: 29px;
                width: 70%;
                margin: 50px auto 50px auto;
            }
        }

        img {
            max-width: 250px;
            max-height: 250px;
        }

        ol {
            display: flex;
            flex-direction: column;

            li {
                font-size: 14px;
            }
        }

        >div:nth-child(4) {
            left: 350px;
            top: 435px;
        }

        span {
            right: 0px;
            top: 740px;
        }
    }
}


/*----------------------------*\
SECTION2-3
\-----------------------------*/
@media screen and (max-width:1234px) {
    section.rfx_section {
        margin-top: 50px;

        >div {
            gap: 15px;
            margin-top: 20px;
            width: 85%;

            div p {
                width: 100%;
            }

            img {
                width: 100%;
                max-width: none;
            }
        }
    }

    section.rfx_section3 {
        margin-top: 100px;
        padding-bottom: 100px;

        >div:nth-child(3) {
            right: -79px;
            top: 259px;
        }

        >div:nth-child(4) {
            right: -59px;
            top: 135px;
        }
    }

    section.rfx_section2 {
        padding-bottom: 20px;

        >div:nth-child(3) {
            left: -108px;
            top: 95px;
        }

        >div:nth-child(4) {
            left: 23px;
            top: 220px;
        }
    }
}

@media screen and (max-width:590px) {
    section.rfx_section {
        >div {
            div {
                p {
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }
}

/*----------------------------*\
SECTION4
\-----------------------------*/
@media screen and (max-width:1150px) {
    section.rfx_section4 {
        margin-top: 100px;

        >div {
            margin-top: 20px;

            p {
                text-align: justify;
                width: 85%;
            }
        }
    }
}

@media screen and (max-width:590px) {
    section.rfx_section4 {
        >div {
            p {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
}

/*----------------------------*\
ASIDE
\-----------------------------*/
@media screen and (max-width:1150px) {
    aside.rfx_aside p {
        text-align: center;
    }
}

@media screen and (max-width:590px) {

    aside.rfx_aside p,
    aside.rfx_aside button {
        font-size: 14px;
    }

    aside.rfx_aside {
        margin-bottom: 80px;
    }
}

//responsive page methodes
/*----------------------------*\
SECTION
\-----------------------------*/
@media screen and (max-width:1200px){
    section.mtd_section {
        >div {
            gap: 25px;
            margin-top: 25px;
    
            img {
                width: 90%;
                max-height: 350px;
            }
    
            >div {
                gap: 30px;
                width: 85%;
    
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
    
                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:590px){
    section.mtd_section {
        >div {
            >div {
                h4 {
                    font-size: 17px;
                }
    
                div {
                    p {
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    section.mtd_section3 {
        span {
            right: -200px;
        }
    }
}

//responsive Footer
/*----------------------------*\
FOOTER
\-----------------------------*/
@media screen and (max-width:1250px) {
    footer {
        >div {
            gap: 100px;
        }
    }
}

@media screen and (max-width:980px) {
    footer {
        >div {
            >img {
                display: none;
            }

            >div {
                gap: 50px;
                align-items: center;

                >ul {
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    footer {
        >div {
            >div {
                img {
                    width: 364px;
                    height: fit-content;
                }
            }
        }
    }
}