/********************\
FOOTER
\********************/
footer {
    width: 100%;
    background-image: url("../img/cabinet_zen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    >div {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 200px;

        >img {
            border-radius: 50%;
            width: 325px;
            height: 325px;
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 60px;

            >button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 20px;
                gap: 10px;

                background-color: #1CACE1;
                border: 0;
                border-radius: 90px;
                color: white;
                cursor: pointer;

                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                transition: 0.3s;

                i {
                    background-image: url("../img/informations.svg");
                    display: inline-block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }

            >ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-decoration: none;
                list-style: none;
                padding: 0px;
                gap: 25px;
                width: 351px;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 10px;

                    i {
                        display: inline-block;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 20px;
                    }

                    a {
                        color: white;
                    }
                }

                li:nth-child(1) i {
                    background-image: url("../img/phone.svg");
                }

                li:nth-child(2) i {
                    background-image: url("../img/location.svg");
                }

                li:nth-child(3) i {
                    background-image: url("../img/mail.svg");
                }
            }
        }
    }

    >div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-bottom: 25px;

        p {
            color: white;
            font-size: 12px;
        }

        a {
            color: white;
            text-decoration: underline;
        }
    }
}

//RESPONSIVE Accueil
/*----------------------------*\
HEADER
\-----------------------------*/
@media screen and (max-width:1495px) {
    header {
        >p {
            margin-top: 20px;
        }

        div>img {
            width: 275px;
            height: 450px;
        }

        div>img:nth-of-type(2) {
            width: 270px;
            height: 460px;
        }
    }
}

@media screen and (max-width:1445px) {
    header {
        h1 {
            margin-top: 25px;
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        div>img {
            width: 160px;
            height: 258px;
        }

        div>img:nth-of-type(2) {
            width: 155px;
            height: 238px;
        }
    }

    header.accueil {
        button {
            margin: 20px auto 70px auto;
        }
    }

    div.cercle2 {
        left: -10vw;
        top: 65vh;
    }

    div.cercle3 {
        left: 2vw;
        top: 80vh;
    }
}

@media screen and (max-width:1250px) {
    div.cercle2 {
        left: -15vw;
        top: 65vh;
    }

    div.cercle3 {
        left: 2vw;
        top: 80vh;
    }
}

@media screen and (max-width:700px) {
    header {
        h1 {
            width: 83vw;
            font-size: 14px;
        }

        >div h2 {
            width: 83vw;
            font-size: 28px;
            line-height: 44px;

            strong {
                font-size: 36px;
                line-height: 44px;
            }
        }

        div+p {
            display: none;
        }
    }

    header.accueil button {
        margin-bottom: 30px;
    }

    div.cercle2 {
        left: -28vw;
        top: 65vh;
    }

    div.cercle3 {
        left: 2vw;
        top: 80vh;
    }
}

@media screen and (max-width:590px) {
    main section {
        h3 {
            font-size: 30px;
        }
    }

    header>div h2 {
        width: 90vw;
    }

    div.cercle2 {
        left: -45vw;
        top: 55vh;
    }

    div.cercle3 {
        left: -8vw;
        top: 68vh;
    }
}

/*----------------------------*\
SECTION 1
\-----------------------------*/
@media screen and (max-width:1519px) {
    main section.acc_section1 {
        video {
            width: clamp(300px, 83vw, 800px);
        }

        video+div {
            margin-top: 75px;

            button {
                margin: 30px auto 0 auto;
            }
        }

        div.caroussel {
            margin: 100px auto 0 auto;
        }

        >div:last-child {
            top: 930px;
        }
    }
}

@media screen and (max-width:881px) {
    main section.acc_section1 {
        div.caroussel {
            border-radius: 100px;

            .carousel-cell {
                padding: 30px 50px 90px 50px;

                div {
                    flex-direction: column;
                    gap: 15px;
                }
            }
        }

        >div:last-child {
            top: 885px;
        }
    }
}

@media screen and (max-width:590px) {
    main section.acc_section1 {
        padding-bottom: 75px;

        video+div {
            margin-top: 60px;

            div>i {
                left: 10px;
            }

            div>p {
                width: clamp(275px, 100%, 488px);
                font-size: 14px;
                line-height: 24px;

                strong {
                    display: inline-block;
                    font-size: 17px;
                    margin-bottom: 10px;
                    font-weight: 600;

                    abbr {
                        font-weight: 600;
                    }
                }

                br {
                    display: block;
                }
            }

            button {
                margin: 50px auto 0 auto;
            }
        }

        div.caroussel {
            border-radius: 100px;
            margin-top: 90px;

            .carousel-cell {
                padding: 30px 20px 90px 20px;

                h4 {
                    width: 250px;
                    line-height: 24px;
                    font-size: 17px;
                }

                div {
                    flex-direction: column;
                    gap: 15px;

                    p {
                        height: auto;
                        width: 255px;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }

        >div:last-child {
            top: 877px;
            left: 7px;
        }
    }

    button {
        font-size: 14px;
    }
}

@media screen and (max-width:495px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: -15px;
            }
        }
    }
}

@media screen and (max-width:440px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: -30px;
            }
        }
    }
}

@media screen and (max-width:400px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: -40px;
            }
        }
    }
}

@media screen and (max-width:383px) {
    main section.acc_section1 {
        video+div {
            div>i {
                left: 0px;
            }
        }
    }
}

/*----------------------------*\
SECTION 2
\-----------------------------*/
@media screen and (max-width:590px) {
    section.acc_section2 {
        div {
            article {
                p {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}

/*----------------------------*\
SECTION 3
\-----------------------------*/
@media screen and (max-width:1471.5px) {
    section.acc_section3 {
        >div {
            article:last-child {
                margin-top: 100px;

                span {
                    top: 92%;
                    right: -150px;
                }
            }
        }
    }
}

@media screen and (max-width:986px) {
    section.acc_section3 {
        >div {
            article:not(article:first-child) {
                margin-top: 100px;
            }
        }
    }
}

@media screen and (max-width:590px) {
    section.acc_section3 {
        >div {
            article {
                img {
                    width: 100%;
                }

                div {
                    >h4 {
                        text-align: center;
                        font-size: 17px;
                    }


                    >p {
                        font-size: 14px;
                        width: 295px;
                    }

                    >ul {
                        width: 295px;

                        >li {
                            font-size: 14px;
                            line-height: 23px;
                        }
                    }
                }
            }
        }
        
        button {
            width: 80%;
        }
    }
}

//responsive Footer
/*----------------------------*\
FOOTER
\-----------------------------*/
@media screen and (max-width:1250px) {
    footer {
        >div {
            gap: 100px;
        }
    }
}

@media screen and (max-width:980px) {
    footer {
        >div {
            >img {
                display: none;
            }

            >div {
                gap: 50px;
                align-items: center;

                >ul {
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    footer {
        >div {
            >div {
                img {
                    width: 364px;
                    height: fit-content;
                }
            }
        }
    }
}